<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <title>Manu Otomotiv</title>
</head>
<body>
    <div id="mmfas">
       
        <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (531) 761 43 72</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (533) 023 46 72</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                <li><a href="https://api.whatsapp.com/send?phone=00905317614372" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="https://t.me/manuspareparts" target="_blank"><i class="fab fa-telegram"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/tr">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/tr">ANASAYFA </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/tr/kurumsal/">KURUMSAL</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/tr/hakkimizda">Hakkımızda</a>
                                            <a class="dropdown-item" href="/tr/vizyon-misyon">Vizyon & Misyon</a>
                                            <a class="dropdown-item" href="/tr/belgelerimiz">Belgelerimiz</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/tr/urun">ÜRÜNLER</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/tr/iletisim">İLETİŞİM</a>
                                    </li>
                                    <li class="nav-item">
                                        <select class="lang" id="language" onchange="javascript:location.href = this.value;">
                                            <option value="SelectLanguage" aria-required="false">Dil Seçin</option>
                                            <option value="/en/corporate">Ingilizce</option>
                                            <option value="/tr/kurumsal">Türkçe</option>
                                            <option value="/ar/elmuessese">Arapça</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
           
        </header>

        <div class="section banner-page">
            <div class="content-wrap pos-relative">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="title-page">Kurumsal</div>
                        </div>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/tr/">Anasayfa</a></li>
                            <li class="breadcrumb-item active" aria-current="page"><a href="/tr/kurumsal">Kurumsal
                            </a></li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div id="class" class="">
            <div class="content-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 order-last">
                            <div class="widget categories">
                                <ul class="category-nav">
                                    <li class="active"><a href="/tr/kurumsal">Kurumsal</a></li><li class="active-wp"><a href="/tr/belgelerimiz">Belgelerimiz</a></li>
                                </ul>
                            </div>
                            <div class="widget contact-info-sidebar">
                                <div class="widget-title">
                                    İletişim							</div>
                                <ul class="list-info">
                                    <li>
                                        <div class="info-icon">
                                            <span class="fa fa-map-marker"></span>
                                        </div>
                                        <div class="info-text">Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya</div> </li>
                                    <li>
                                        <div class="info-icon">
                                            <span class="fa fa-phone"></span>
                                        </div>
                                        <div class="info-text">+90 531 761 43 72 </div>
                                    </li>
                                    <li>
                                        <div class="info-icon">
                                            <span class="fa fa-envelope"></span>
                                        </div>
                                        <div class="info-text">manu@manucompany.com</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-8">
                            <h3 class="text-danger mb-4">
                                Kurumsal						</h3>
                            <div class="row">
                                
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="rs-news-1 mb-1">
                                <div class="media">
                                    <a href="/tr/hakkimizda">
                                        <img src="/images/manu.jpg" class="img-fluid" alt="About Us" title="About Us">
                                    </a>
                                </div>
                                <div class="body">
                                    <div class="title"><a href="/tr/hakkimizda">Hakkimizda</a></div>
                                    <p>MANU Otomotiv hakkında detaylı bilgi</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <div class="rs-news-1 mb-1">
                                <div class="media">
                                    <a href="/tr/vizyon-misyon">
                                        <img src="/images/manu.jpg" class="img-fluid" alt="Vision &amp; mission" title="Vision &amp; mission">
                                    </a>
                                </div>
                                <div class="body">
                                    <div class="title"><a href="/tr/vizyon-misyon">Vizyon &amp; misyon</a></div>
                                    <p>MANU Otomotiv olarak vizyon ve misyona sahip köklü bir firmayız.</p>
                                </div>
                            </div>
                        </div>						
                    </div>
                            <div class="row mt-5">
                                <div class="col-sm-12 col-md-12">
                                    <nav aria-label="Page navigation">
                                    <ul class="pagination">
                                                                         
                                    </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>MANU OTOMOTİV</h5>
                    <ul>
                        <li><a href="/tr">ANASAYFA</a></li>
                        <li><a href="/tr/kurumsal">KURUMSAL</a></li>
                        <li><a href="/tr/urun">ÜRÜNLER</a></li>
                        <li><a href="/tr/iletisim"> İLETİŞİM</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>KURUMSAL</h5>
                    <ul>
                        <li data-name="about-us"><a href="/tr/hakkimizda">Hakkimizda</a></li>
                        <li data-name="our-quality-policy"><a href="/tr/vizyon-misyon">Kalite politikası</a></li>
                        <li data-name="certificates"><a href="/tr/belgelerimiz">Belgelerimiz</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>ŞUBE İLETİŞİM</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (531) 761 43 72 
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/content/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span></p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
    </div>

  <script src="/js/script.js"></script>    
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>  
  <script src="/owlcarousel/owl.carousel.min.js"></script>
</body>
</html>