<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <title>Manu Otomotiv</title>
</head>
<body>
    <div id="mmfas">
     
        <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="tel:00905530234610"><i class="fa fa-phone"></i>+90 (553) 023 46 10</a></li>
                                <li><a href="tel:00905321610992"><i class="fa fa-phone"></i>+90 (532) 161 09 92</a></li>
                                <li><a href="mailto:manu@manucompany.com"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                        <li><a href="https://api.whatsapp.com/send?phone=00905321610992" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                           
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/tr">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/tr">ANASAYFA </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/tr/kurumsal/">KURUMSAL</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/tr/hakkimizda">Hakkımızda</a>
                                            <a class="dropdown-item" href="/tr/kalite-politikamiz">Kalite & Politikası</a>
                                            <a class="dropdown-item" href="/tr/belgelerimiz">Belgelerimiz</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/tr/urun">ÜRÜNLER</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/tr/iletisim">İLETİŞİM</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/images/CATALOGinteraktif.pdf" target="_blank">Katalog</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-globe"></i></a>
                                        
                                       <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/en/product"><i class="flag-icon flag-icon-us"></i> English</a>
                                        <a class="dropdown-item" href="/tr/urun"><i class="flag-icon flag-icon-tr"></i> Turkish</a>
                                        <a class="dropdown-item" href="/ar/el-muntec"><i class="flag-icon flag-icon-sa"></i> Arabic</a>
                                       </div> 
                                       
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>

    <div class="section banner-page">
            <div class="content-wrap pos-relative">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="title-page">ÜRÜNLER</div>
                        </div>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/tr/">ANASAYFA</a></li>
                            <li class="breadcrumb-item active"><a href="/tr/urun">ÜRÜNLER</a></li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
<style>

</style>
<section class="content pt-3 pb-3 product-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-5 mt-3">
                <div class="col-md-3 float-left">
                    <ul class="d" id="style-2">
                    
                                <li class="plist" data-name="bmc" ><a href="/tr/urun/handle-gear-tr" class="">HANDLE GEAR</a> </li>
                                
                                    <li class="plist" data-name="daf" ><a href="/tr/urun/exhaust-tr" class="">EXHAUST</a> </li>
                                
                                    <li class="plist" data-name="man" ><a href="/tr/urun/mercedes-tr" class="">MERCEDES</a> </li>
                                
                                    <li class="plist" data-name="mercedes" ><a href="/tr/urun/man-tr" class="">MAN</a> </li>
                                
                                    <li class="plist" data-name="others" ><a href="/tr/urun/iveco-tr" class="">IVECO</a> </li>
                                
                                    <li class="plist" data-name="renault" ><a href="/tr/urun/renault-tr" class="">RENAULT</a> </li>
                                
                                    <li class="plist" data-name="scania" ><a href="/tr/urun/scania-tr" class="">SCANIA</a> </li>

                                    <li class="plist" data-name="towing" ><a href="/tr/urun/towing-tools-tr" class="">TOWING TOOLS</a> </li>
                                
                                    <li class="plist" data-name="trailer" ><a href="/tr/urun/others-tr" class="">OTHERS</a> </li>
                            


   <script src="/js/jquery-3.2.1.min.js"></script>
      <script>
        var cd = "";
        try { cd = location.href.split('/')[5]; }
          catch (e) { console.log(e); }

          var q = cd.indexOf('?');
          if (q !== -1) { cd=  cd.substring(0,q);}
          let ul = document.querySelector("ul.d");
          let li = document.querySelectorAll("li.plist");
          for (var i = 0; i < li.length; i++)
          {
              let f = li[i].getAttribute("data-name");
              if (f == $.trim(cd))
              {
                  let a = li[i].getElementsByTagName("a");
                  $(a).addClass("active");
              }
          }
    </script>
                    </ul>
                    </div>
                <div class="col-md-9 float-left">
                    <img src="/images/logo.png" alt="manu" class="w-100" />
                </div>
                </div>
        </div>
    </div>
</section>
       
                        
        <!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>MANU OTOMOTİV</h5>
                    <ul>
                        <li><a href="/tr">ANASAYFA</a></li>
                        <li><a href="/tr/kurumsal">KURUMSAL</a></li>
                        <li><a href="/tr/urun">ÜRÜNLER</a></li>
                        <li><a href="/tr/iletisim">İLETİŞİM</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>KURUMSAL</h5>
                    <ul>
                        <li data-name="about-us"><a href="/tr/hakkimizda">Hakkımızda</a></li>
                        <li data-name="our-quality-policy"><a href="/tr/kalite-politikamiz">Kalite politikası</a></li>
                        <li data-name="certificates"><a href="/tr/belgelerimiz">Belgelerimiz</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>ŞUBE İLETİŞİM</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (553) 023 46 10 
                        </li>
                        <li>
                            <i class="fab fa-whatsapp"></i>+90 (532) 161 09 92
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span></p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
        
    </div>
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/owlcarousel/owl.carousel.min.js"></script>
    <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
    <script src="/js/vendor/isotope.pkgd.min.js"></script>
    <script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
    <script src="/js/vendor/validator.min.js"></script>
    <script src="/js/vendor/form-scripts.js"></script>
    <script src="/js/script.js"></script> 
</body>
</html>