<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <title>Manu Otomotiv</title>
</head>
<body>
    <div id="mmfas">
    
      <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (553) 023 46 10</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (532) 161 09 92</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                        <li><a href="https://api.whatsapp.com/send?phone=00905321610992" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="https://t.me/manuspareparts" target="_blank"><i class="fab fa-telegram"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/en">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/tr">ANASAYFA</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/tr/kurumsal">KURUMSAL</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/tr/hakkimizda">Hakkımızda</a>
                                            <a class="dropdown-item" href="/tr/kalite-politikamiz">Kalite & Politikası</a>
                                            <a class="dropdown-item" href="/tr/belgelerimiz">Belgelerimiz</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/tr/urun">ÜRÜNLER</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/tr/iletisim">İLETİŞİM</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-globe"></i></a>
                                        
                                       <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/en/product/renault"><i class="flag-icon flag-icon-us"></i> English</a>
                                        <a class="dropdown-item" href="/tr/urun/renault-tr"><i class="flag-icon flag-icon-tr"></i> Turkish</a>
                                        <a class="dropdown-item" href="/ar/el-muntec/renault-ar"><i class="flag-icon flag-icon-sa"></i> Arabic</a>
                                       </div> 
                                       
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    

        <div class="section banner-page">
            <div class="content-wrap pos-relative">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="title-page">Renault</div>
                        </div>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/tr/">ANASAYFA</a></li>
                            <li class="breadcrumb-item active"><a href="/tr/urun">ÜRÜNLER</a></li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <section class="content pt-3 pb-3 product-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 pl-0">
                        <ul class="d" id="style-2">
                             <li class="plist" data-name="bmc" ><a href="/tr/urun/handle-gear-tr" class="">HANDLE GEAR</a> </li>
                                
                                    <li class="plist" data-name="daf" ><a href="/tr/urun/exhaust-tr" class="">EXHAUST</a> </li>
                                
                                    <li class="plist" data-name="man" ><a href="/tr/urun/mercedes-tr" class="">MERCEDES</a> </li>
                                
                                    <li class="plist" data-name="mercedes" ><a href="/tr/urun/man-tr" class="">MAN</a> </li>
                                
                                    <li class="plist" data-name="others" ><a href="/tr/urun/iveco-tr" class="">IVECO</a> </li>
                                
                                    <li class="plist" data-name="renault" ><a href="/tr/urun/renault-tr" class="active-product">RENAULT</a> </li>
                                
                                    <li class="plist" data-name="scania" ><a href="/tr/urun/scania-tr" class="">SCANIA</a> </li>

                                    <li class="plist" data-name="towing" ><a href="/tr/urun/towing-tools-tr" class="">TOWING TOOLS</a> </li>
                                
                                    <li class="plist" data-name="trailer" ><a href="/tr/urun/others-tr" class="">OTHERS</a> </li>
                                
    
    
       <script src="/content/js/jquery-3.2.1.min.js"></script>
          <script>
            var cd = "";
            try { cd = location.href.split('/')[5]; }
              catch (e) { console.log(e); }
    
              var q = cd.indexOf('?');
              if (q !== -1) { cd=  cd.substring(0,q);}
              let ul = document.querySelector("ul.d");
              let li = document.querySelectorAll("li.plist");
              for (var i = 0; i < li.length; i++)
              {
                  let f = li[i].getAttribute("data-name");
                  if (f == $.trim(cd))
                  {
                      let a = li[i].getElementsByTagName("a");
                      $(a).addClass("active");
                  }
              }
        </script>
                        </ul>
                    </div>
                    <div class="col-md-9 pr-0 ">
                        <div class="content">
                            <div class="col-md-6 float-left">
                                <p>
                                    Toplam
                                    <span id="ContentPlaceHolder1_lblCount">37</span>
                                    ürün bulundu
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <p class="col-md-12"> <span id="ContentPlaceHolder1_lblError"></span></p>
                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/5.jpg" alt="7-5001" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5001</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault 40.400 Rear Bracket For Front Spring -R&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>
                            
                        
                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/12.jpg" alt="7-5002" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5002</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault 40.400 Rear Bracket For Front Spring -L&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/3.jpg" alt="7-5003" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5003</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault 220 Rear Bracket For Front Spring With Bushing&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/7.jpg" alt="7-5004" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5004</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Torque Rod&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/6.jpg" alt="7-5005" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5005</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Rear Upper Plate&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/2edit.jpg" alt="7-5006" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5006</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Front Shackle Plate &nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>ORIGINAL CODE</td>
                                                                <td>5000752128&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/1.jpg" alt="7-5007" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5007</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Rear Bracket For Front Spring -R&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/13.jpg" alt="7-5008" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5008</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Rear Bracket For Front Spring -L&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/16.jpg" alt="7-5009" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5009</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Front Bracket For Rear Spring&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/14.jpg" alt="7-5010" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5010</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Rear Bracket For Front Spring -R&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/23.jpg" alt="7-5011" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5011</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Rear Bracket For Front Spring-L&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/15.jpg" alt="7-5012" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5012</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Kerax Spring Seat -L&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/20.jpg" alt="7-5013" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5013</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Kerax Spring Seat -R&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/10.jpg" alt="7-5014" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5014</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Spring Saddle Pin&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/11.jpg" alt="7-5015" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5015</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault 440 Support Pin &nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/8.jpg" alt="7-5016" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5016</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Kerax Front Torsion Bar&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/24.jpg" alt="7-5017" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5017</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Kerax Support&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/4.jpg" alt="7-5018" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5018</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Rear Bracket For Front Spring&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/9.jpg" alt="7-5019" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5019</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault 220 Rear Bracket For Front Spring&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/17.jpg" alt="7-5020" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5020</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Spring Saddle&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/22.jpg" alt="7-5021" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5021</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Rear Bracket For Rear Spring &nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/21.jpg" alt="7-5022" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5022</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Spring Saddle With Bushing &nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/18.jpg" alt="7-5023" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5023</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Kerax Helper Bracket&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/19.jpg" alt="7-5024" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5024</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Front Bracket For Rear Spring Pin With Washer&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/37.jpg" alt="7-5025" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5025</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Front Bracket For Rear Spring&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                            <tr>
                                                                <td>ORIGINAL CODE</td>
                                                                <td>5010574556- <br>7482137341- <br>7482137342-&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/36.jpg" alt="7-5026" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5026</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Premium Front Bracket For Rear Spring&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/34.jpg" alt="7-5027" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5027</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Front Bracket For Front Spring&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/33.jpg" alt="7-5028" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5028</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault 440 Spring Saddle &nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/31.jpg" alt="7-5029" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5029</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Kerax Rear Bracket For Front Spring -L&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/28.jpg" alt="7-5030" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5030</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Kerax Rear Bracket For Front Spring -R &nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/35.jpg" alt="7-5031" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5031</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault 440 Support&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/32.jpg" alt="7-5032" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5032</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Kerax Upper Bearing Cap For Torsion Bar -L&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/29.jpg" alt="7-5033" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5033</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Kerax Upper Bearing Cap For Torsion Bar -R&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/30.jpg" alt="7-5034" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5034</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Rear Link&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/27.jpg" alt="7-5035" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5035</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Kerax U-Bolt Plate&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/26.jpg" alt="7-5036" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5036</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Premium Front Bracket For Rear Spring&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>

                            <div class="col-md-6 float-left">
                                <div class="item">
                                        <div class="product-img">
                                            <div>
                                                <img src="/images/renault/25.jpg" alt="7-5037" />
                                            </div>
                                        </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 7-5037</p>
                                                    <table>
                                                        <tbody>
                                                            <tr>
                                                                <td>PRODUCT NAME</td>
                                                                <td>Renault Kerax Lower Bearing Cap For Torsion Bar&nbsp;&nbsp;&nbsp;</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                            </div>
                                </div>
                            </div>
                                
                        </div>
                        <style>
                            .pager a,.pager b{font-weight:bold;margin:0 3px }
                            .pager > div{text-align:right }
                        </style>
                    </div>
                </div>
            </div>
        </section>
        
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function () {
                let sort = getParameterByName("sort");
                if (sort !== null) {
                    if (sort == "50") { $(".m2").addClass("active"); }
                    else if (sort == "100") { $(".m3").addClass("active"); }
                    else if (sort == "200") { $(".m4").addClass("active"); }
                    else { $(".m1").addClass("active");}
                }
                else { $(".m1").addClass("active"); }
            });
    
    
              function getParameterByName(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
            
            $("#btnProductSearch").click(function (e) {
                let categories = $("#parent_categories > option:selected").html();
                let oem = document.getElementById("txtPOem").value;
                if (oem.length >= 3) {
                    let link = "/en/products?oem=" + oem + "&brand=" + categories;
                    window.location = link;
                }
                else { alert("minimum 3 karakter giriniz\nPlease enter at least 3 characters"); }
                  e.preventDefault();
            });
        </script>
                        
        <!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>MANU OTOMOTİV</h5>
                    <ul>
                        <li><a href="/tr">ANASAYFA</a></li>
                        <li><a href="/tr/kurumsal">KURUMSAL</a></li>
                        <li><a href="/tr/urun">ÜRÜNLER</a></li>
                        <li><a href="/tr/iletisim">İLETİŞİM</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>KURUMSAL</h5>
                    <ul>
                        <li data-name="about-us"><a href="/tr/hakkimizda">Hakkımızda</a></li>
                        <li data-name="our-quality-policy"><a href="/tr/kalite-politikamiz">Kalite politikası</a></li>
                        <li data-name="certificates"><a href="/tr/belgelerimiz">Belgelerimiz</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>ŞUBE İLETİŞİM</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (553) 023 46 10 
                        </li>
                        <li>
                            <i class="fab fa-whatsapp"></i>+90 (532) 161 09 92
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span></p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/owlcarousel/owl.carousel.min.js"></script>
        <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="/js/vendor/isotope.pkgd.min.js"></script>
        <script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="/js/vendor/validator.min.js"></script>
        <script src="/js/vendor/form-scripts.js"></script>
        <script src="/js/script.js"></script> 
</body>
</html>