<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <title>Manu Otomotiv</title>
</head>
<body>
    <div id="mmfas">
        <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (531) 761 43 72</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (533) 023 46 72</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                <li><a href="https://api.whatsapp.com/send?phone=00905317614372" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="https://t.me/manuspareparts" target="_blank"><i class="fab fa-telegram"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/en">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/tr">ANASAYFA</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/tr/kurumsal">KURUMSAL</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/tr/hakkimizda">Hakkımızda</a>
                                            <a class="dropdown-item" href="/tr/vizyon-misyon">Vizyon & Misyon</a>
                                            <a class="dropdown-item" href="/tr/belgelerimiz">Belgelerimiz</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/tr/urun">ÜRÜNLER</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/tr/iletisim">İLETİŞİM</a>
                                    </li>
                                    <li class="nav-item">
                                        <select class="lang" id="language" onchange="javascript:location.href = this.value;">
                                            <option value="SelectLanguage" aria-required="false">Select Language</option>
                                            <option value="/en/product/mercedes/motomar">English</option>
                                            <option value="/tr/urun/mercedes-tr/motomar-tr">Turkish</option>
                                            <option value="/ar/el-muntec/mercedes-ar/motomar-ar">Arabic</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
           
        </header>
    

        <div class="section banner-page">
            <div class="content-wrap pos-relative">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="title-page">Motomar</div>
                        </div>
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/tr/">ANASAYFA</a></li>
                            <li class="breadcrumb-item active"><a href="/tr/urun">ÜRÜNLER</a></li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <section class="content pt-3 pb-3 product-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 pl-0">
                        <ul class="d" id="style-2">
                            
                                    <li class="plist" data-name="balance" ><a href="/tr/urun/mercedes-tr/mercedes-balance-tr" class="">MERCEDES BALANCE</a> </li>
                                
                                    <li class="plist" data-name="chassis" ><a href="/tr/urun/mercedes-tr/mercedes-chassis-tr" class="">MERCEDES CHASSIS</a> </li>
                
                                
                                    <li class="plist" data-name="gear" ><a href="/tr/urun/mercedes-tr/mercedes-gear-tr" class="">MERCEDES GEAR</a> </li>
                                
                                    <li class="plist" data-name="capin" ><a href="/tr/urun/mercedes-tr/mercedes-capin-tr" class="">MERCEDES CAPIN</a> </li>

                                    <li class="plist" data-name="motomar" ><a href="/tr/urun/mercedes-tr/motomar-tr" class="active-product">MOTOMAR</a> </li>

                                    <li class="plist" data-name="product" ><a href="/tr/urun" class="">ÜRÜNLER</a> </li>
                                
    
    
       <script src="/content/js/jquery-3.2.1.min.js"></script>
          <script>
            var cd = "";
            try { cd = location.href.split('/')[5]; }
              catch (e) { console.log(e); }
    
              var q = cd.indexOf('?');
              if (q !== -1) { cd=  cd.substring(0,q);}
              let ul = document.querySelector("ul.d");
              let li = document.querySelectorAll("li.plist");
              for (var i = 0; i < li.length; i++)
              {
                  let f = li[i].getAttribute("data-name");
                  if (f == $.trim(cd))
                  {
                      let a = li[i].getElementsByTagName("a");
                      $(a).addClass("active");
                  }
              }
        </script>
                        </ul>
                    </div>
                    <div class="col-md-9 pr-0 ">
                        <div class="content">
                            <div class="col-md-6 float-left">
                                <p>
                                    Toplam
                                    <span id="ContentPlaceHolder1_lblCount">9</span>
                                    ürün bulundu
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <p class="col-md-12"> <span id="ContentPlaceHolder1_lblError"></span></p>
                            
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                        <a href="" class="pro">
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/motomar/mercedes oil pan.jpg" alt="1-2001" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-2001</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>MERCEDES OIL PAN&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                 <td>ORIGINAL CODE</td>
                 <td>443-010-0013 <br> 443-010-0113&nbsp;&nbsp;</td>
             </tr>
        </tbody>
    </table>
    
                                            </div>
                                        </a>
                                    </div>
                                        </div>
                                
                        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/motomar/mercedes oil pan (2).jpg" alt="1-2002" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-2002</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>MERCEDES OIL PAN (2)&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>541-010-1213&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/motomar/mercedes oil pan (3).jpg" alt="1-2003" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-2003</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>MERCEDES OIL PAN (3)&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>442-010-0613 <br> 442-010-0513&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/motomar/mercedes oil pan (4).jpg" alt="1-2004" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-2004</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>MERCEDES OIL PAN (4)&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>541-010-0713<br> 541-010-0213&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/motomar/mercedes oil pan (5).jpg" alt="1-2005" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-2005</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>MERCEDES OIL PAN (5)&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>541-010-0713<br> 541-010-0213&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/motomar/mercedes oil pan (6).jpg" alt="1-2006" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-2006</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>MERCEDES OIL PAN (6)&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>542-010-0813&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/motomar/mercedes oil pan (7).jpg" alt="1-2007" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-2007</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>MERCEDES OIL PAN (7)&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>906-010-1013 <br>  906-010-1313  <br>  906-010-0513&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/motomar/mercedes oil cooler housing.jpg" alt="1-2008" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-2008</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>mercedes oil cooler housing&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>442-188-1604 <br> 457-188-0504&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/motomar/mercedes oil cooler housing (3).jpg" alt="1-2011" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-2011</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>mercedes oil cooler housing&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>403-180-3938&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>
                                    
        
                                
                        </div>
                        <style>
                            .pager a,.pager b{font-weight:bold;margin:0 3px }
                            .pager > div{text-align:right }
                        </style>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function () {
                let sort = getParameterByName("sort");
                if (sort !== null) {
                    if (sort == "50") { $(".m2").addClass("active"); }
                    else if (sort == "100") { $(".m3").addClass("active"); }
                    else if (sort == "200") { $(".m4").addClass("active"); }
                    else { $(".m1").addClass("active");}
                }
                else { $(".m1").addClass("active"); }
            });
    
    
              function getParameterByName(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
            
            $("#btnProductSearch").click(function (e) {
                let categories = $("#parent_categories > option:selected").html();
                let oem = document.getElementById("txtPOem").value;
                if (oem.length >= 3) {
                    let link = "/en/products?oem=" + oem + "&brand=" + categories;
                    window.location = link;
                }
                else { alert("minimum 3 karakter giriniz\nPlease enter at least 3 characters"); }
                  e.preventDefault();
            });
        </script>
                        
        <!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>MANU OTOMOTİV</h5>
                    <ul>
                        <li><a href="/tr">ANASAYFA</a></li>
                        <li><a href="/tr/kurumsal">KURUMSAL</a></li>
                        <li><a href="/tr/urun">ÜRÜNLER</a></li>
                        <li><a href="/tr/iletisim">İLETİŞİM</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>KURUMSAL</h5>
                    <ul>
                        <li data-name="about-us"><a href="/tr/hakkimizda">Hakkımızda</a></li>
                        <li data-name="our-quality-policy"><a href="/tr/vizyon-misyon">Kalite politikası</a></li>
                        <li data-name="certificates"><a href="/tr/belgelerimiz">Belgelerimiz</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>ŞUBE İLETİŞİM</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (531) 761 43 72 
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span></p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
    </div>
</body>
</html>