<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <title>مصنع مانو التركي لقطع غيار الشاحنات</title>
</head>
<body>
    <div id="mmfas">
         <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (531) 761 43 72</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (533) 023 46 72</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                <li><a href="https://api.whatsapp.com/send?phone=00905317614372" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="https://t.me/manuspareparts" target="_blank"><i class="fab fa-telegram"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/ar">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/ar">الصفحة الرئيسية </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/ar/elmuessese/">المؤسسية</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/ar/hol-alshrk">حول الشركة</a>
                                            <a class="dropdown-item" href="/ar/roytna-oahdafna">رؤيتنا و أهدافنا</a>
                                            <a class="dropdown-item" href="/ar/sehadat-el-cevda">شهادات الجودة</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/ar/el-muntec">المنتجات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/ar/ittisalat">التواصل</a>
                                    </li>
                                    <li class="nav-item">
                                        <select class="lang" id="language" onchange="javascript:location.href = this.value;">
                                            <option value="SelectLanguage" aria-required="false">إختر اللغة</option>
                                            <option value="/en/product/mercedes/mercedes-chassis">الإنجليزية</option>
                                            <option value="/tr/urun/mercedes-tr/mercedes-chassis-tr">التركية</option>
                                            <option value="/ar/el-muntec/mercedes-ar/mercedes-chassis-ar">العربية</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    

        <div class="section banner-page">
            <div class="content-wrap pos-relative">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="title-page">Mercedes Chassis</div>
                        </div>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/ar/">الصفحة الرئيسية</a></li>
                            <li class="breadcrumb-item active"><a href="/ar/el-muntec">المنتجات</a></li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <section class="content pt-3 pb-3 product-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 pl-0">
                        <ul class="d" id="style-2">
                            
                                     <li class="plist" data-name="balance" ><a href="/ar/el-muntec/mercedes-ar/mercedes-balance-ar" class="">MERCEDES BALANCE</a> </li>
                                
                                    <li class="plist" data-name="chassis" ><a href="/ar/el-muntec/mercedes-ar/mercedes-chassis-ar" class="active-product">MERCEDES CHASSIS</a> </li>
                
                                
                                    <li class="plist" data-name="gear" ><a href="/ar/el-muntec/mercedes-ar/mercedes-gear-ar" class="">MERCEDES GEAR</a> </li>
                                
                                    <li class="plist" data-name="capin" ><a href="/ar/el-muntec/mercedes-ar/mercedes-capin-ar" class="">MERCEDES CAPIN</a> </li>

                                    <li class="plist" data-name="motomar" ><a href="/ar/el-muntec/mercedes-ar/motomar-ar" class="">MOTOMAR</a> </li>

                                    <li class="plist" data-name="product" ><a href="/ar/el-muntec" class="">المنتجات</a> </li>
                                
    
    
       <script src="/content/js/jquery-3.2.1.min.js"></script>
          <script>
            var cd = "";
            try { cd = location.href.split('/')[5]; }
              catch (e) { console.log(e); }
    
              var q = cd.indexOf('?');
              if (q !== -1) { cd=  cd.substring(0,q);}
              let ul = document.querySelector("ul.d");
              let li = document.querySelectorAll("li.plist");
              for (var i = 0; i < li.length; i++)
              {
                  let f = li[i].getAttribute("data-name");
                  if (f == $.trim(cd))
                  {
                      let a = li[i].getElementsByTagName("a");
                      $(a).addClass("active");
                  }
              }
        </script>
                        </ul>
                    </div>
                    <div class="col-md-9 pr-0 ">
                        <div class="content">
                            <div class="col-md-6 float-left">
                                <p>
                                    تم العثور على
                                    <span id="ContentPlaceHolder1_lblCount">17</span>
                                    منتجات بالكامل
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <p class="col-md-12"> <span id="ContentPlaceHolder1_lblError"></span></p>
                            
                            <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/عوارض شاصي احمر.jpg" alt="1-1001" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1001</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>FRONT CHASSIS HOLDER &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>3433120209&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/FRONT DRAWER copy 2.jpg" alt="1-1002" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1002</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>FRONT DRAWER&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>3373100409&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/CHASSIS HOLDER BASE  copy.jpg" alt="1-1004" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1004</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>CHASSIS HOLDER BASE&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/LEFT BASE MERCEDES LP  copy.jpg" alt="1-1005" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1005</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>LEFT BASE MERCEDES LP &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/TIGHT BASE MERCEDES LP copy.jpg" alt="1-1006" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1006</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>RIGHT BASE MERCEDES LP&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/ATEMSOUR CARRIER BACK copy.jpg" alt="1-1007" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1007</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>ATEMSOUR CARRIER BACK&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/FRONT ASSISTANT BASE ACTROS copy.jpg" alt="1-1008" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1008</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>FRONT ASSISTANT BASE ACTROS&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/console bracket connecting sheet copy.jpg" alt="1-1009" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1009</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>console bracket connecting sheet&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>948 325 02 65  <br> 648 325 03 65  &nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/BACK CHASSIS HOLDER  copy.jpg" alt="1-1011" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1011</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>BACK CHASSIS HOLDER &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>6203100437&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/BACK CHASSIS HOLLDER ACTROS copy.jpg" alt="1-1012" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1012</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>BACK CHASSIS HOLLDER ACTROS&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/عارضة شعب سوبر تحت القير.jpg" alt="1-1014" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1014</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>CHASSIS HOLDER&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/عارضة شاصي copy.jpg" alt="1-1015" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1015 </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>CHASSIS HOLDER 77,83 cm&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/73x19 عوارض شاصي copy - Copy (3).jpg" alt="1-1016" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1016</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>CHASSIS HOLDER 73x19 & 73x15&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/74.5x15 عوارض شاصي copy - Copy.jpg" alt="1-1017" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1017</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>CHASSIS HOLDER 74.5x19 & 74.5x15&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/87x19 عوارض شاصي copy.jpg" alt="1-1018" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1018</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>CHASSIS HOLDER 87x19 & 87x15&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/88.5x15 عوارض شاصي copy - Copy (2).jpg" alt="1-1019" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1019</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>CHASSIS HOLDER 88.5x19 & 88.5x15&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/mercedes-chassis/عوارض شاصي.jpg" alt="1-1020" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-1020</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>CHASSIS HOLDER&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>3433120209&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>
                                    
                                
                        </div>
                        <style>
                            .pager a,.pager b{font-weight:bold;margin:0 3px }
                            .pager > div{text-align:right }
                        </style>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function () {
                let sort = getParameterByName("sort");
                if (sort !== null) {
                    if (sort == "50") { $(".m2").addClass("active"); }
                    else if (sort == "100") { $(".m3").addClass("active"); }
                    else if (sort == "200") { $(".m4").addClass("active"); }
                    else { $(".m1").addClass("active");}
                }
                else { $(".m1").addClass("active"); }
            });
    
    
              function getParameterByName(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
            
            $("#btnProductSearch").click(function (e) {
                let categories = $("#parent_categories > option:selected").html();
                let oem = document.getElementById("txtPOem").value;
                if (oem.length >= 3) {
                    let link = "/en/products?oem=" + oem + "&brand=" + categories;
                    window.location = link;
                }
                else { alert("minimum 3 karakter giriniz\nPlease enter at least 3 characters"); }
                  e.preventDefault();
            });
        </script>
                        
        <!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>مانو لقطع غيار الشاحنات</h5>
                    <ul>
                        <li><a href="/ar">الصفحة الرئيسية</a></li>
                        <li><a href="/ar/elmuessese">المؤسسية</a></li>
                        <li><a href="/ar/el-muntec">المنتجات</a></li>
                        <li><a href="/ar/ittisalat">التواصل</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>المؤسسية</h5>
                    <ul>
                        <li data-name="about-us"><a href="/ar/hol-alshrk">حول الشركة</a></li>
                        <li data-name="our-quality-policy"><a href="/ar/roytna-oahdafna">سياسة الجودة</a></li>
                        <li data-name="certificates"><a href="/ar/sehadat-el-cevda">شهادات الجودة</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>معلومات الإتصال بالفرع</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (531) 761 43 72 
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/content/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span> جميع الحقوق محفوظة</p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
    </div>
</body>
</html>