<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <title>مصنع مانو التركي لقطع غيار الشاحنات</title>
</head>
<body>
    <div id="mmfas">
        <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (553) 023 46 10</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (532) 161 09 92</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                        <li><a href="https://api.whatsapp.com/send?phone=00905321610992" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="https://t.me/manuspareparts" target="_blank"><i class="fab fa-telegram"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/ar">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/ar">الصفحة الرئيسية </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/ar/elmuessese/">المؤسسية</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/ar/hol-alshrk">حول الشركة</a>
                                            <a class="dropdown-item" href="/ar/siyasetil-cevde">سياسة الجودة</a>
                                            <a class="dropdown-item" href="/ar/sehadat-el-cevda">شهادات الجودة</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/ar/el-muntec">المنتجات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/ar/ittisalat">التواصل</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-globe"></i></a>
                                        
                                       <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/en"><i class="flag-icon flag-icon-us"></i> English</a>
                                        <a class="dropdown-item" href="/tr"><i class="flag-icon flag-icon-tr"></i> Turkish</a>
                                        <a class="dropdown-item" href="/ar"><i class="flag-icon flag-icon-sa"></i> Arabic</a>
                                       </div> 
                                       
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    

    <section id="slider">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol id="ContentPlaceHolder1_slideCarousel" class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li><li data-target="#carouselExampleIndicators" data-slide-to="1" ></li><li data-target="#carouselExampleIndicators" data-slide-to="2" ></li></ol>
            <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block " src="/images/manu-197201918330364.jpg" alt="manu">
                        </div>
                    
                        <div class="carousel-item ">
                            <img class="d-block " src="/images/manu-197201918330412.jpg" alt="manu">
                        </div>
                    
                        <div class="carousel-item ">
                            <img class="d-block " src="/images/manu-1972019183301253.jpg" alt="manu">
                        </div>                  
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="fa fa-angle-left fa-4x" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="fa fa-angle-right fa-4x" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </section>

    <div class="section">
		<div class="content-wrap corporate pb-0">
			<div class="container">
								<div class="row align-items-end">
					<div class="col-12 col-md-4">
						<img src="/images/home-about.png" class="img-fluid" alt="About Us" title="About Us">
					</div>
					<div class="col-12 col-md-7 offset-md-1">
                        <h4 class="text-black mt-0">نموذج التواصل</h4>
						<form action="#" class="form-contact" id="contactForm">
                            <div class="row">
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="p_name" placeholder="الاسم" required="">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="p_email" placeholder="البريد الإلكتروني" required="">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="p_subject" placeholder="الموضوع">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="p_phone" placeholder="رقم الهاتف">
                                        <div class="help-block with-errors"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                 <textarea id="p_message" class="form-control" rows="6" placeholder="الرسالة"></textarea>
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group">
                                <div class="text-left">
                                    <div id="success"></div>
                                    <button type="submit" class="btn btn-primary">إرسال</button>
                                </div>
                            </div>
                        </form>
						<div class="spacer-content"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="section bg-gray-light">
		<div class="content-wrap">
			<div class="container">
								<div class="row">
					<div class="col-sm-12 col-md-12 col-lg-7">
						<div class="jumbo-heading text-danger">رؤيتنا واهدافنا</div>
						<p class="mt-3 um22 mb-0">شركة مانو تفتخر بأنها ، شركة راسخة ذات رؤية ورسالة</p>
					</div>
					<div class="col-sm-12 col-md-12 col-lg-5">
						<p>بصفتنا شركة مانو ، نهدف إلى الحفاظ على رضا المستهلك قبل كل شيء وحماية رضا المستهلك الذي اكتسبناه.
                        </p>
					</div>
				</div>
			</div>
		</div>
	</div>

    <!-- PRODUCTS HOME PAGE -->

<!-- PRODUCTS HOME PAGE -->
<section class="content pt-5 pb-5 product-content">
    <div class="container">
        <div class="row">
            <div class="head">
                <h2>المنتجات الأكثر مبيعًا</h2>
            </div>
            <div class="content">
                     <div class="owl-carousel owl-theme">
                 
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/AXOR HANDLE GEAR V6.jpg" alt="1-4007" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4007</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>ACTROS HANDLE GEAR V6&nbsp;&nbsp;&nbsp;</td>
    </tr>
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/AXOR HANDLE GEAR V8.jpg" alt="1-4008" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4008</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>ACTROS HANDLE GEAR V8&nbsp;&nbsp;&nbsp;</td>
    </tr>
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/HANDLE GEAR  ACTROS 'FORK' 6 CYLINDER.jpg" alt="1-4011" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4011</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>HANDLE GEAR ACTROS ''fork'' OR 6V&nbsp;&nbsp;&nbsp;</td>
    </tr>
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/HANDLE GEAR LP-ZF (2) copy.jpg" alt="1-4005" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4005</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>HANDLE GEAR MERCEDES LP ZF LEXUS&nbsp;&nbsp;&nbsp;</td>
    </tr>
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/HANDLE GEAR LP-ZF (1) copy.jpg" alt="1-4006" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4006</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>HANDLE GEAR MERCEDES LP ZF&nbsp;&nbsp;&nbsp;</td>
    </tr>
   
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/HANDLE GEAR  LP cabine  copy.jpg" alt="1-4002" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4002</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>HANDLE GEAR MERCEDES LP CABINE &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
 
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/2 wm.jpg" alt="1-4019" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4019</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>Bus Handle Gear &nbsp;&nbsp;&nbsp;&nbsp;</td>
    </tr>
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/3 wm.jpg" alt="1-4020" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4020</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>Bus Handle Gear (2)&nbsp;&nbsp;&nbsp;</td>
    </tr>
  
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/HANDLE GEAR LP    copy.jpg" alt="1-4001" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4001</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>HANDLE GEAR MERCEDES LP&nbsp;&nbsp;&nbsp;</td>
    </tr>
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/HANDLE GEAR LP  copy.jpg" alt="1-4003" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4003</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>HANDLE GEAR MERCEDES LP&nbsp;&nbsp;&nbsp;</td>
    </tr>
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/HANDLE GEAR LP copy.jpg" alt="1-4004" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4004</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>HANDLE GEAR MERCEDES LP&nbsp;&nbsp;&nbsp;</td>
    </tr>
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                
                                       <div class="item">
                                <a href="/en/product/handle-gear" class="pro">
                                    <div class="product-img">
                                        <div>
                                            <img src="/images/handle-gear/HANDLE GEAR  AXOR 'FORK' 6 CYLINDER.jpg" alt="1-4009" />
                                        </div>
                                    </div>
                                    <div class="product-info">
                                        <p>MANU CODE: 1-4009</p>
                                       <table>
<tbody>
    <tr>
        <td>PRODUCT NAME</td>
        <td>HANDLE GEAR ACTROS ''fork'' OR 6V&nbsp;&nbsp;&nbsp;</td>
    </tr>
</tbody>
</table>

                                    </div>
                                </a>
                            </div>
                                

            </div>
            </div>
        </div>
    </div>
</section>
<!-- PRODUCT HOME PAGE END -->

<!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>مانو لقطع غيار الشاحنات</h5>
                    <ul>
                        <li><a href="/ar">الصفحة الرئيسية</a></li>
                        <li><a href="/ar/elmuessese">المؤسسية</a></li>
                        <li><a href="/ar/el-muntec">المنتجات</a></li>
                        <li><a href="/ar/ittisalat">التواصل</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>المؤسسية</h5>
                    <ul>
                        <li data-name="about-us"><a href="/ar/hol-alshrk">حول الشركة</a></li>
                        <li data-name="our-quality-policy"><a href="/ar/siyasetil-cevde">سياسة الجودة</a></li>
                        <li data-name="certificates"><a href="/ar/sehadat-el-cevda">شهادات الجودة</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>معلومات الإتصال بالفرع</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (553) 023 46 10 
                        </li>
                        <li>
                            <i class="fab fa-whatsapp"></i>+90 (532) 161 09 92
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/content/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span> جميع الحقوق محفوظة</p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
</div>
  <script src="/js/script.js"></script>  
  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/bootstrap.js"></script>
  <script src="/owlcarousel/owl.carousel.min.js"></script>
  <script src="/js/contact.js"></script>
  
    <script>
        $(document).ready(function () {
            $('.owl-carousel').owlCarousel({
                loop: true,
                responsiveClass: true,
                dots: false,
                stagePadding: 23,
                margin: 23,
                autoplayHoverPause: true,
                autoplay: true,
                autoplayTimeout: 4000,
                navText: ["<i style='padding:4px 3px 3px 1px;' class='fa fa-chevron-left'></i>", "<i style='padding:4px 1px 0px 3px;' class='fa fa-chevron-right'></i>"],
                responsive: {
                    0: {
                        items: 1,
                        nav: true
                    },
                    600: {
                        items: 1,
                        nav: true
                    },
                    770: {
                        items: 2,
                        nav: true
                    },
                    1200: {
                        items: 3,
                        nav: true
                    }
                }
            })
        })
    </script>
</body>
</html>