<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <title>مصنع مانو التركي لقطع غيار الشاحنات</title>
</head>
<body>
    <div id="mmfas">
        <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (553) 023 46 10</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (532) 161 09 92</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                        <li><a href="https://api.whatsapp.com/send?phone=00905321610992" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="https://t.me/manuspareparts" target="_blank"><i class="fab fa-telegram"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/ar">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/ar">الصفحة الرئيسية </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/ar/elmuessese/">المؤسسية</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/ar/hol-alshrk">حول الشركة</a>
                                            <a class="dropdown-item" href="/ar/siyasetil-cevde">سياسة الجودة</a>
                                            <a class="dropdown-item" href="/ar/sehadat-el-cevda">شهادات الجودة</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/ar/el-muntec">المنتجات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/ar/ittisalat">التواصل</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-globe"></i></a>
                                        
                                       <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/en/about-us"><i class="flag-icon flag-icon-us"></i> English</a>
                                        <a class="dropdown-item" href="/tr/hakkimizda"><i class="flag-icon flag-icon-tr"></i> Turkish</a>
                                        <a class="dropdown-item" href="/ar/hol-alshrk"><i class="flag-icon flag-icon-sa"></i> Arabic</a>
                                       </div> 
                                       
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
           
        </header>
        <div class="section banner-page">
            <div class="content-wrap pos-relative">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="title-page">حول الشركة</div>
                        </div>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/ar/">الصفحة الرئيسية</a></li>
                            <li class="breadcrumb-item"><a href="/ar/elmuessese">المؤسسية</a></li>
                            <li class="breadcrumb-item active">حول الشركة</li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div id="class" class="">
            <div class="content-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-4 order-last">
                            <div class="widget categories">
                                <ul class="category-nav">
                                    <li class="active"><a href="/ar/hol-alshrk">حول الشركة</a></li><li class="active-wp"><a href="/ar/siyasetil-cevde">سياسة الجودة</a></li>	
                                </ul>
                            </div>
                            <div class="widget contact-info-sidebar">
                                <div class="widget-title">
                                    التواصل							</div>
                                <ul class="list-info">
                                    <li>
                                        <div class="info-icon">
                                            <span class="fa fa-map-marker"></span>
                                        </div>
                                        <div class="info-text">Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya</div> </li>
                                        <li>
                                            <div class="info-icon">
                                                <span class="fa fa-phone"></span>
                                            </div>
                                            <div class="info-text">+90 553 023 46 10 </div>
                                        </li>
                                        <li>
                                            <div class="info-icon">
                                                <span class="fab fa-whatsapp"></span>
                                            </div>
                                            <div class="info-text">+90 532 161 09 92 </div>
                                        </li>
                                    <li>
                                        <div class="info-icon">
                                            <span class="fa fa-envelope"></span>
                                        </div>
                                        <div class="info-text">manu@manucompany.com</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-8">
                            <h3 class="text-danger mb-4">
                                حول الشركة						</h3>
                                <p> تأسست شركة مانو لتجارة قطع غيار السيارات عام 1985 في سوريا / حلب. كان يقتصر على تجارة قطع غيار الشاحنات.</p>
    
                            <p>في عام 1998 قمنا بشراء خط إنتاج لإنتاج الأجزاء التي يصل وزنها إلى 2 طن. في عام 2012 ، انتقلت شركتنا إلى قونية ، تركيا ونقوم حاليًا بإنتاج أنواع كثيرة من قطع غيار الشاحنات. مع زيادة جودتنا في عام 2019 ، تم تطوير المصنع بإدارته الجديدة.</p>
    
    <p>نحن شركة محترفة ومسؤولة ، شاغلنا الوحيد هو أن تدخل كعميل وتغادر كصديق.</p>
    
    <p>الوصف: نقوم بتصنيع وتجارة العديد من أنواع قطع غيار الشاحنات ، وتقدم شركتنا قطع غيار الشاحنات للأسواق الوطنية والدولية. في شركتنا ، نتابع عن كثب تطور صناعة قطع غيار الشاحنات ونعمل باستمرار على تحسين جودة منتجاتنا.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>مانو لقطع غيار الشاحنات</h5>
                    <ul>
                        <li><a href="/ar">الصفحة الرئيسية</a></li>
                        <li><a href="/ar/elmuessese">المؤسسية</a></li>
                        <li><a href="/ar/el-muntec">المنتجات</a></li>
                        <li><a href="/ar/ittisalat">التواصل</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>المؤسسية</h5>
                    <ul>
                        <li data-name="about-us"><a href="/ar/hol-alshrk">حول الشركة</a></li>
                        <li data-name="our-quality-policy"><a href="/ar/siyasetil-cevde">سياسة الجودة</a></li>
                        <li data-name="certificates"><a href="/ar/sehadat-el-cevda">شهادات الجودة</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>معلومات الإتصال بالفرع</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (553) 023 46 10 
                        </li>
                        <li>
                            <i class="fab fa-whatsapp"></i>+90 (532) 161 09 92
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/content/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span> جميع الحقوق محفوظة</p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/owlcarousel/owl.carousel.min.js"></script>
        <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="/js/vendor/isotope.pkgd.min.js"></script>
        <script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="/js/vendor/validator.min.js"></script>
        <script src="/js/vendor/form-scripts.js"></script>
        <script src="/js/script.js"></script> 
</body>
</html>