<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <title>مصنع مانو التركي لقطع غيار الشاحنات</title>
</head>
<body>
    <div id="mmfas">
        <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="tel:00905530234610"><i class="fa fa-phone"></i>+90 (553) 023 46 10</a></li>
                                <li><a href="tel:00905321610992"><i class="fa fa-phone"></i>+90 (532) 161 09 92</a></li>
                                <li><a href="mailto:manu@manucompany.com"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                        <li><a href="https://api.whatsapp.com/send?phone=00905321610992" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/ar">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/ar">الصفحة الرئيسية </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/ar/elmuessese/">المؤسسية</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/ar/hol-alshrk">حول الشركة</a>
                                            <a class="dropdown-item" href="/ar/siyasetil-cevde">سياسة الجودة</a>
                                            <a class="dropdown-item" href="/ar/sehadat-el-cevda">شهادات الجودة</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/ar/el-muntec">المنتجات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/ar/ittisalat">التواصل</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/images/CATALOGinteraktif.pdf" target="_blank">الفهرس</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-globe"></i></a>
                                        
                                       <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/en/contact"><i class="flag-icon flag-icon-us"></i> English</a>
                                        <a class="dropdown-item" href="/tr/iletisim"><i class="flag-icon flag-icon-tr"></i> Turkish</a>
                                        <a class="dropdown-item" href="/ar/ittisalat"><i class="flag-icon flag-icon-sa"></i> Arabic</a>
                                       </div> 
                                       
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            
        </header>

        <div class="section banner-page">
            <div class="content-wrap pos-relative">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="title-page">اتصل بنا</div>
                        </div>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/ar/">الصفحة الرئيسية</a></li>
                            <li class="breadcrumb-item active" aria-current="page">اتصل بنا</li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <div id="contact" class="section">
            <div class="content-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="mapouter">
                                <div class="gmap_canvas maps">
                                    <iframe id="gmap_canvas" src="https://maps.google.com/maps?q=Fevzi%C3%A7akmak,%20Konsan%20Organize%20Sanayi%20Ve%20Ticaret%20Mrk.,%2042050%20Karatay/Konya,%20Turkey&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-sm-12 col-md-12 col-lg-4">
                            <h4 class="text-black mt-0">معلومات التواصل</h4>
                            <div class="rs-icon-info-2">
                                <div class="info-icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="body-text">
                                    <h5>العنوان</h5>
                                    <p>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya</p>
                                </div>
                            </div>
                            <div class="rs-icon-info-2">
                                <div class="info-icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="body-text">
                                    <h5>الهاتف</h5>
                                    <p style="direction:ltr!important">+90 553 023 46 10 <i class="flag-icon flag-icon-tr"></i> <i class="flag-icon flag-icon-sa"></i></p>
                                </div>
                            </div>
                            
                            <div class="rs-icon-info-2">
                                <div class="info-icon">
                                    <i class="fab fa-whatsapp fab-whatsapp"></i>
                                </div>
                                <div class="body-text">
                                    <h5>الواتساب</h5>
                                    <p style="direction:ltr!important">+90 532 161 09 92 <i class="flag-icon flag-icon-us"></i> <i class="flag-icon flag-icon-sa"></i> </p>
                                </div>
                            </div>
                            <div class="rs-icon-info-2">
                                <div class="info-icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="body-text">
                                    <h5>البريد الإلكتروني</h5>
                                    <p>manu@manucompany.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-7 offset-lg-1">
                            <h4 class="text-black mt-0">نموذج التواصل</h4>
                            <form method="POST" action="#" class="form-contact" id="contactForm">
                                <div class="row">
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="p_name" placeholder="الإسم" required="">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="email" class="form-control" id="p_email" placeholder="البريد الإلكتروني" required="">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="p_subject" placeholder="الموضوع">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="p_phone" placeholder="رقم الهاتف">
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                     <textarea id="p_message" class="form-control" rows="6" placeholder="الرسالة"></textarea>
                                    <div class="help-block with-errors"></div>
                                </div>
                                <div class="form-group">
                                    <div class="text-left">
                                        <div id="success"></div>
                                        <button type="submit" class="btn btn-primary">إرسال</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>  	
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/owlcarousel/owl.carousel.min.js"></script>
        <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="/js/vendor/isotope.pkgd.min.js"></script>
        <script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="/js/vendor/validator.min.js"></script>
        <script src="/js/vendor/form-scripts.js"></script>
        <script src="/js/script.js"></script>
        <script>
        $(document).ready(function() {
            $('#search-button').click(function(evt) {
                evt.preventDefault();
                $('#search-box').toggleClass('active');
                $('body').css({'overflow':'hidden'});
            });
            $('#search-box-close').click(function(evt) {
                evt.preventDefault();
                $('#search-box').toggleClass('active');
                $('body').css({'overflow':'auto'});
            });
            $(document).keyup(function(e) {
                if (e.key === "Escape") {
                    if($('#search-box').hasClass('active')) {
                        $('#search-box').toggleClass('active');
                        $('body').css({'overflow':'auto'});
                    }
                }
            });
        });
        </script>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114978379-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
    
          gtag('config', 'UA-114978379-1');
        </script>

         <!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>مانو لقطع غيار الشاحنات</h5>
                    <ul>
                        <li><a href="/ar">الصفحة الرئيسية</a></li>
                        <li><a href="/ar/elmuessese">المؤسسية</a></li>
                        <li><a href="/ar/el-muntec">المنتجات</a></li>
                        <li><a href="/ar/ittisalat">التواصل</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>المؤسسية</h5>
                    <ul>
                        <li data-name="about-us"><a href="/ar/hol-alshrk">حول الشركة</a></li>
                        <li data-name="our-quality-policy"><a href="/ar/siyasetil-cevde">سياسة الجودة</a></li>
                        <li data-name="certificates"><a href="/ar/sehadat-el-cevda">شهادات الجودة</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>معلومات الإتصال بالفرع</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (553) 023 46 10 
                        </li>
                        <li>
                            <i class="fab fa-whatsapp"></i>+90 (532) 161 09 92
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/content/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span> جميع الحقوق محفوظة</p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
    </div>
    <script src="/js/contact.js"></script>
</body>
</html>