<html lang="ar">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <title>مصنع مانو التركي لقطع غيار الشاحنات</title>
</head>
<body>
    <div id="mmfas">
        <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (553) 023 46 10</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (532) 161 09 92</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                        <li><a href="https://api.whatsapp.com/send?phone=00905321610992" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="https://t.me/manuspareparts" target="_blank"><i class="fab fa-telegram"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/ar">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/ar">الصفحة الرئيسية </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/ar/elmuessese/">المؤسسية</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/ar/hol-alshrk">حول الشركة</a>
                                            <a class="dropdown-item" href="/ar/siyasetil-cevde">سياسة الجودة</a>
                                            <a class="dropdown-item" href="/ar/sehadat-el-cevda">شهادات الجودة</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/ar/el-muntec">المنتجات</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/ar/ittisalat">التواصل</a>
                                    </li>
                         
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-globe"></i></a>
                                        
                                       <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/en/product/handle-gear"><i class="flag-icon flag-icon-us"></i> English</a>
                                        <a class="dropdown-item" href="/tr/urun/handle-gear-tr"><i class="flag-icon flag-icon-tr"></i> Turkish</a>
                                        <a class="dropdown-item" href="/ar/el-muntec/handle-gear-ar"><i class="flag-icon flag-icon-sa"></i> Arabic</a>
                                       </div> 
                                       
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    

        <div class="section banner-page">
            <div class="content-wrap pos-relative">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="title-page">Handle Gear</div>
                        </div>
                        <nav aria-label="breadcrumb">
                           <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/ar/">الصفحة الرئيسية</a></li>
                            <li class="breadcrumb-item active"><a href="/ar/el-muntec">المنتجات</a></li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <section class="content pt-3 pb-3 product-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 pl-0">
                        <ul class="d" id="style-2">
                            
                                    <li class="plist" data-name="bmc" ><a href="/ar/el-muntec/handle-gear-ar" class="active-product">HANDLE GEAR</a> </li>
                                
                                    <li class="plist" data-name="daf" ><a href="/ar/el-muntec/exhaust-ar" class="">EXHAUST</a> </li>
                                
                                    <li class="plist" data-name="man" ><a href="/ar/el-muntec/mercedes-ar" class="">MERCEDES</a> </li>
                                
                                    <li class="plist" data-name="mercedes" ><a href="/ar/el-muntec/man-ar" class="">MAN</a> </li>
                                
                                    <li class="plist" data-name="others" ><a href="/ar/el-muntec/iveco-ar" class="">IVECO</a> </li>
                                
                                    <li class="plist" data-name="renault" ><a href="/ar/el-muntec/renault-ar" class="">RENAULT</a> </li>
                                
                                    <li class="plist" data-name="scania" ><a href="/ar/el-muntec/scania-ar" class="">SCANIA</a> </li>

                                    <li class="plist" data-name="towing" ><a href="/ar/el-muntec/towing-tools-ar" class="">TOWING TOOLS</a> </li>
                                
                                    <li class="plist" data-name="trailer" ><a href="/ar/el-muntec/others-ar" class="">OTHERS</a> </li>
                                
    
    
       <script src="/content/js/jquery-3.2.1.min.js"></script>
          <script>
            var cd = "";
            try { cd = location.href.split('/')[5]; }
              catch (e) { console.log(e); }
    
              var q = cd.indexOf('?');
              if (q !== -1) { cd=  cd.substring(0,q);}
              let ul = document.querySelector("ul.d");
              let li = document.querySelectorAll("li.plist");
              for (var i = 0; i < li.length; i++)
              {
                  let f = li[i].getAttribute("data-name");
                  if (f == $.trim(cd))
                  {
                      let a = li[i].getElementsByTagName("a");
                      $(a).addClass("active");
                  }
              }
        </script>
                        </ul>
                    </div>
                    <div class="col-md-9 pr-0 ">
                        <div class="content">
                            <div class="col-md-6 float-left">
                                <p>
                                    تم العثور على
                                    <span id="ContentPlaceHolder1_lblCount">35</span>
                                    منتجات بالكامل
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <p class="col-md-12"> <span id="ContentPlaceHolder1_lblError"></span></p>
                            
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                      
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/handle-gear/HANDLE GEAR LP    copy.jpg" alt="1-4001" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-4001</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>HANDLE GEAR MERCEDES LP&nbsp;&nbsp;&nbsp;</td>
            </tr>
            
        </tbody>
    </table>
    
                                            </div>
                                     
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                   
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/handle-gear/HANDLE GEAR  LP cabine  copy.jpg" alt="1-4002" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-4002</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>HANDLE GEAR MERCEDES LP CABINE&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
    
                                            </div>
                                     
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                       
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/handle-gear/HANDLE GEAR LP  copy.jpg" alt="1-4003" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-4003</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>HANDLE GEAR MERCEDES LP LEXUS SQUAWK&nbsp;&nbsp;&nbsp;</td>
            </tr>
           
        </tbody>
    </table>
    
                                            </div>
                                   
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/handle-gear/HANDLE GEAR LP copy.jpg" alt="1-4004" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-4004</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>HANDLE GEAR MERCEDES LP LEXUS&nbsp;&nbsp;&nbsp;</td>
            </tr>
      
        </tbody>
    </table>
    
                                            </div>
                                      
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                        
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/handle-gear/HANDLE GEAR LP-ZF (2) copy.jpg" alt="1-4005" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-4005</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>HANDLE GEAR MERCEDES LP ZF LEXUS&nbsp;&nbsp;&nbsp;</td>
            </tr>
          
        </tbody>
    </table>
    
                                            </div>
                                    
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                       
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/handle-gear/HANDLE GEAR LP-ZF (1) copy.jpg" alt="1-4006" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-4006</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>HANDLE GEAR MERCEDES LP ZF&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
    
                                            </div>
                                      
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                     
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/handle-gear/AXOR HANDLE GEAR V6.jpg" alt="1-4007" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-4007</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>ACTROS HANDLE GEAR V6&nbsp;&nbsp;&nbsp;</td>
            </tr>
           
        </tbody>
    </table>
    
                                            </div>
                                   
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                     
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/handle-gear/AXOR HANDLE GEAR V8.jpg" alt="1-4008" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-4008</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>ACTROS HANDLE GEAR V8 &nbsp;&nbsp;&nbsp;</td>
            </tr>
            
        </tbody>
    </table>
    
                                            </div>
                                     
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                      
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/handle-gear/HANDLE GEAR  AXOR 'FORK' 6 CYLINDER.jpg" alt="1-4009" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-4009</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>HANDLE GEAR ACTROS ''fork'' OR 6V&nbsp;&nbsp;&nbsp;</td>
            </tr>
        
        </tbody>
    </table>
    
                                            </div>
                                      
                                    </div>
                                        </div>

                        

                        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/HANDLE GEAR  ACTROS 'FORK' 8 CYLINDER.jpg" alt="1-4010" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4010</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>HANDLE GEAR ACTROS ''fork'' OR 8V&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/2 wm.jpg" alt="1-4019" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4019</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Bus Handle Gear&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/3 wm.jpg" alt="1-4020" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4020</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Bus Handle Gear 2&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/_DSC1522 copy.jpg" alt="1-4103" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4103</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>REPAIR KIT, GEAR LEVER &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/_DSC1538 copy.jpg" alt="1-4104" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4104</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>REPAIR KIT, GEAR LEVER 2&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/gear selector rod copy.jpg" alt="1-4105" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4105</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>REPAIR KIT, GEAR LEVER 3&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                            
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/SHIFTING LEVER SEAL KIT copy.jpg" alt="1-4107" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4107</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>SHIFTING LEVER SEAL KIT&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/كوع ايد الفيتيس مرسيدس البي لكزز زحط copy.jpg" alt="1-4108" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4108</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>MERCEDES LP LEXUS ELBOW&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/كوع ايد الفيتيس مرسيدس البي  غمارة و ربع  copy.jpg" alt="1-4109" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4109</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>MERCEDES LP IMMERSION&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/كوع ايد الفيتيس البي كبين زحط copy.jpg" alt="1-4110" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4110</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>MERCEDES LP CAPIN ELBOW &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/كوع ايد الفيتيس البي زف copy.jpg" alt="1-4111" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4111</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>LP ZF ELBOW&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/كوع ايد الفيتيس البي زف ليكزز copy.jpg" alt="1-4112" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4112</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>LEXUS LP ZF ELBOW&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/كوع البي لكزز copy.jpg" alt="1-4114" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4114</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>LEXUS LP ELBOW&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/تلسكوب ايد الفيتيس 6 سلندر copy.jpg" alt="1-4115" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4115</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>ALVES TELESCOPE 6 CYLINDER&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/تلسكوب ايد الفيتيس 8 سلندر copy.jpg" alt="1-4116" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4116</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>ALVES TELESCOPE 8 CYLINDER &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>
        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/_DSC1525 copy.jpg" alt="1-4117" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4117</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>ACTROS TELESCOPE 6 CYLINDER &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/_DSC1525 copy.jpg" alt="1-4118" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4118</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>ACTROS TELESCOPE 8 CYLINDER &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>
        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/SHIFT LEVER SEAL LONG NECK  copy.jpg" alt="1-4119" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4119</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>SHIFT LEVER SEAL LONG NECK&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/SHIFT LEVER SEAL SHORT NECK copy.jpg" alt="1-4120" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4120</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>SHIFT LEVER SEAL SHORT NECK&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/SHIFT LEVER SEAL WITH PIN COMPLETE copy.jpg" alt="1-4121" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4121</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>SHIFT LEVER SEAL WITH PIN COMPLETE&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/1 wm.jpg" alt="1-4122" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4122</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>SHIFT LEVER SEAL WITH PIN COMPLETE 2&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/BALL SOCKET copy.jpg" alt="1-4123" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4123</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>BALL SOCKET WITH ROD LP ZF&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/_DSC1521 copy.jpg" alt="1-4124" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4124</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>BALL SOCKET WITH ROD ACTROS&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>


        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/BALL SOCKET   copy.jpg" alt="1-4125" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4125</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>BALL SOCKET WITH ROD LONG ACTROS&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/_DSC1515 copy.jpg" alt="1-4126" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4126</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>BALL SOCKET WITH ROD SEEDLINGS&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>
        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/handle-gear/CONVERSION KIT copy.jpg" alt="1-4129" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 1-4129</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>CONVERSION KIT&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>
        
                                
                        </div>
                        <style>
                            .pager a,.pager b{font-weight:bold;margin:0 3px }
                            .pager > div{text-align:right }
                        </style>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function () {
                let sort = getParameterByName("sort");
                if (sort !== null) {
                    if (sort == "50") { $(".m2").addClass("active"); }
                    else if (sort == "100") { $(".m3").addClass("active"); }
                    else if (sort == "200") { $(".m4").addClass("active"); }
                    else { $(".m1").addClass("active");}
                }
                else { $(".m1").addClass("active"); }
            });
    
    
              function getParameterByName(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
            
            $("#btnProductSearch").click(function (e) {
                let categories = $("#parent_categories > option:selected").html();
                let oem = document.getElementById("txtPOem").value;
                if (oem.length >= 3) {
                    let link = "/en/products?oem=" + oem + "&brand=" + categories;
                    window.location = link;
                }
                else { alert("minimum 3 karakter giriniz\nPlease enter at least 3 characters"); }
                  e.preventDefault();
            });
        </script>
                        
        <!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>مانو لقطع غيار الشاحنات</h5>
                    <ul>
                        <li><a href="/ar">الصفحة الرئيسية</a></li>
                        <li><a href="/ar/elmuessese">المؤسسية</a></li>
                        <li><a href="/ar/el-muntec">المنتجات</a></li>
                        <li><a href="/ar/ittisalat">التواصل</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>المؤسسية</h5>
                    <ul>
                        <li data-name="about-us"><a href="/ar/hol-alshrk">حول الشركة</a></li>
                        <li data-name="our-quality-policy"><a href="/ar/siyasetil-cevde">سياسة الجودة</a></li>
                        <li data-name="certificates"><a href="/ar/sehadat-el-cevda">شهادات الجودة</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>معلومات الإتصال بالفرع</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (553) 023 46 10 
                        </li>
                        <li>
                            <i class="fab fa-whatsapp"></i>+90 (532) 161 09 92
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/content/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span> جميع الحقوق محفوظة</p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/owlcarousel/owl.carousel.min.js"></script>
        <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="/js/vendor/isotope.pkgd.min.js"></script>
        <script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="/js/vendor/validator.min.js"></script>
        <script src="/js/vendor/form-scripts.js"></script>
        <script src="/js/script.js"></script> 
</body>
</html>