<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <title>Manu Automotive</title>
</head>
<body>
    <div id="mmfas">

        <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (531) 761 43 72</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (533) 023 46 72</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                <li><a href="https://api.whatsapp.com/send?phone=00905317614372" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="https://t.me/manuspareparts" target="_blank"><i class="fab fa-telegram"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/en">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/en">Home </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/en/corporate/">Corporate</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/en/about-us">About Us</a>
                                            <a class="dropdown-item" href="/en/vision-mission">Vision & mission</a>
                                            <a class="dropdown-item" href="/en/certificates">Certificates</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/en/product">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/en/contact">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <select class="lang" id="language" onchange="javascript:location.href = this.value;">
                                            <option value="SelectLanguage" aria-required="false">Select Language</option>
                                            <option value="/en/product/man">English</option>
                                            <option value="/tr/urun/man-tr">Turkish</option>
                                            <option value="/ar/el-muntec/man-ar">Arabic</option>
                                        </select>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </header>
    

        <div class="section banner-page">
            <div class="content-wrap pos-relative">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="title-page">MAN</div>
                        </div>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/en/">Home</a></li>
                            <li class="breadcrumb-item active"><a href="/en/product">Products</a></li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <section class="content pt-3 pb-3 product-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 pl-0">
                        <ul class="d" id="style-2">
                            
                                    <li class="plist" data-name="bmc" ><a href="/en/product/handle-gear" class="">HANDLE GEAR</a> </li>
                                
                                    <li class="plist" data-name="daf" ><a href="/en/product/exhaust" class="">EXHAUST</a> </li>
                                
                                    <li class="plist" data-name="man" ><a href="/en/product/mercedes" class="">MERCEDES</a> </li>
                                
                                    <li class="plist" data-name="mercedes" ><a href="/en/product/man" class="active-product">MAN</a> </li>
                                
                                    <li class="plist" data-name="others" ><a href="/en/product/iveco" class="">IVECO</a> </li>
                                
                                    <li class="plist" data-name="renault" ><a href="/en/product/renault" class="">RENAULT</a> </li>
                                
                                    <li class="plist" data-name="scania" ><a href="/en/product/scania" class="">SCANIA</a> </li>

                                    <li class="plist" data-name="towing" ><a href="/en/product/towing-tools" class="">TOWING TOOLS</a> </li>
                                
                                    <li class="plist" data-name="trailer" ><a href="/en/product/others" class="">OTHERS</a> </li>
                                
    
    
       <script src="/content/js/jquery-3.2.1.min.js"></script>
          <script>
            var cd = "";
            try { cd = location.href.split('/')[5]; }
              catch (e) { console.log(e); }
    
              var q = cd.indexOf('?');
              if (q !== -1) { cd=  cd.substring(0,q);}
              let ul = document.querySelector("ul.d");
              let li = document.querySelectorAll("li.plist");
              for (var i = 0; i < li.length; i++)
              {
                  let f = li[i].getAttribute("data-name");
                  if (f == $.trim(cd))
                  {
                      let a = li[i].getElementsByTagName("a");
                      $(a).addClass("active");
                  }
              }
        </script>
                        </ul>
                    </div>
                    <div class="col-md-9 pr-0 ">
                        <div class="content">
                            <div class="col-md-6 float-left">
                                <p>
                                    Totally
                                    <span id="ContentPlaceHolder1_lblCount">64</span>
                                    product was found
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <p class="col-md-12"> <span id="ContentPlaceHolder1_lblError"></span></p>
                            
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                        <a href="" class="pro">
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/man/Man_back_bracket.jpg" alt="3-5001" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 3-5001</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>Man Back Bracket&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
    
                                            </div>
                                        </a>
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                        <a href="" class="pro">
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/man/SLIDING BRACKET copy.jpg" alt="3-5002" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 3-5002</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>Sliding Bracket&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>ORIGINAL CODE</td>
                <td>814 133 500 92&nbsp; &nbsp;</td>
            </tr>
        </tbody>
    </table>
    
                                            </div>
                                        </a>
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                        <a href="" class="pro">
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/man/SPRING BEARING COVER copy.jpg" alt="3-5003" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 3-5003</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>Spring Bearing Cover&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>ORIGINAL CODE</td>
                <td>814 135 200 02&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
    
                                            </div>
                                        </a>
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                        <a href="" class="pro">
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/man/SADDLE SHAFT copy.jpg" alt="3-5004" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 3-5004</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>Saddle Shaft&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>ORIGINAL CODE</td>
                <td>813 540 100 89&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
    
                                            </div>
                                        </a>
                                 </div>
                            </div>

                            <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Support .jpg" alt="3-5005" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5005</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Support&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413016052&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Support Plate  .jpg" alt="3-5006" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5006</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Support Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Rear Bracket For Rear Spring.jpg" alt="3-5007" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5007</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Rear Bracket For Rear Spring&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413200065&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Support   .jpg" alt="3-5008" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5008</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Support&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413015106&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.423 V Torque Rod Front Bracket.jpg" alt="3-5009" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5009</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.423 V Torque Rod Front Bracket&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81432400127&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 40.423 Support .jpg" alt="3-5010" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5010</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 40.423 Support &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413015109&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Support Plate.jpg" alt="3-5011" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5011</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Support Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Rear Sliding Plate.jpg" alt="3-5012" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5012</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Rear Sliding Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81414050004&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Spring Saddle Pin Washer.jpg" alt="3-5013" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5013</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Spring Saddle Pin Washer&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413020021&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Rear Shackle.jpg" alt="3-5014" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5014</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Rear Shackle&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413036028&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Torque Rod Bracket  .jpg" alt="3-5015" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5015</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Torque Rod Bracket&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81437050193&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Rear Upper Plate   .jpg" alt="3-5016" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5016</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Rear Upper Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Front Bracket For Front Spring .jpg" alt="3-5017" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5017</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Front Bracket For Front Spring &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413010220&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Rear Bracket For Rear Spring -U-bolt Type-  .jpg" alt="3-5018" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5018</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Rear Bracket For Rear Spring -U-bolt Type-&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                 
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Spring Saddle Pin   .jpg" alt="3-5019" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5019</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Spring Saddle Pin&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Front Bracket For Front Spring -Grooved-   .jpg" alt="3-5020" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5020</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Front Bracket For Front Spring -Grooved-&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413010249&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Rear Shackle  .jpg" alt="3-5021" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5021</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Rear Shackle&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413036028&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Rear Bracket For Front Spring -R .jpg" alt="3-5022" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5022</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Rear Bracket For Front Spring -R&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413010234&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 V Torque Rod Bracket.jpg" alt="3-5024" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5024</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 V Torque Rod Bracket&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372-19.422 Rear Bracket For Front Spring With Bushing-R   .jpg" alt="3-5025" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5025</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372-19.422 Rear Bracket For Front Spring With Bushing-R&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413010250&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga V Torque Rod Bracket .jpg" alt="3-5026" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5026</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tga V Torque Rod Bracket &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Rear Support Shaft   .jpg" alt="3-5027" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5027</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Rear Support Shaft&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81354010135&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Spring Saddle   .jpg" alt="3-5028" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5028</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Spring Saddle&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413500018&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Front Bracket For Front Spring -Grooved- .jpg" alt="3-5029" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5029</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Front Bracket For Front Spring -Grooved-&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413010249&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Support Plate   .jpg" alt="3-5030" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5030</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Support Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Spring Saddle -Short Type-  .jpg" alt="3-5031" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5031</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Spring Saddle -Short Type-&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413010014&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 19.280 Rear Bracket With Shackle -SET-   .jpg" alt="3-5032" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5032</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 19.280 Rear Bracket With Shackle -SET-&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                   
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Spring Saddle Pin With Nut And Washer.jpg" alt="3-5033" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5033</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Spring Saddle Pin With Nut And Washer&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga Spring Saddle   .jpg" alt="3-5034" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5034</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tga Spring Saddle&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413500013&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga Rear Bracket For Front Spring .jpg" alt="3-5035" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5035</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tga Rear Bracket For Front Spring&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413016158&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga Rear Bracket For Front Spring -New Model-.jpg" alt="3-5036" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5036</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tga Rear Bracket For Front Spring -New Model-&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413010252&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.423 V Torque Rod Front Bracket (2).jpg" alt="3-5037" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5037</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.423 V Torque Rod Front Bracket (2)&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81432400127&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga Front Spring Bracket .jpg" alt="3-5038" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5038</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tga Front Spring Bracket&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413010257&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga Torque Rod Bracket-L   .jpg" alt="3-5039" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5039</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tga Torque Rod Bracket-L&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81432420057&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga Torque Rod Bracket-R   .jpg" alt="3-5040" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5040</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tga Torque Rod Bracket-R&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81432420056&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 - 41. 373  Spring Seat .jpg" alt="3-5041" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5041</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 - 41. 373  Spring Seat&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413200089&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Spring Saddle Pin Washer .jpg" alt="3-5042" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5042</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Spring Saddle Pin Washer&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81907100057&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 780 - 800 Rear Sliding Plate.jpg" alt="3-5043" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5043</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 780 - 800 Rear Sliding Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81414050012&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Rear Sliding Plate   .jpg" alt="3-5044" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5044</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Rear Sliding Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81414050012&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga Lower Bearing Cap For Torsion Bar   .jpg" alt="3-5045" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5045</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tga Lower Bearing Cap For Torsion Bar&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81437180044&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga Upper Bearing Cap For Torsion Bar  .jpg" alt="3-5046" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5046</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tga Upper Bearing Cap For Torsion Bar&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81437180043&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372 Spring Saddle Cap.jpg" alt="3-5047" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5047</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372 Spring Saddle Cap&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413520007&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga Front Bracket For Rear Spring.jpg" alt="3-5048" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5048</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 19.280 Rear Bracket Lock   .jpg" alt="3-5049" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5049</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 19.280 Rear Bracket Lock&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413050001&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Chassis Cross Member -Sheet-  .jpg" alt="3-5050" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5050</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Chassis Cross Member -Sheet-&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Front Shackle   .jpg" alt="3-5051" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5051</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Front Shackle   &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413030073&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 19.422 Front Shackle -Set- .jpg" alt="3-5052" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5052</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 19.422 Front Shackle -Set-&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413030079&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga V Torque Rod Bracket  (2).jpg" alt="3-5053" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5053</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tga V Torque Rod Bracket&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 19.284 Rear Bracket For Rear Spring Without Bush   .jpg" alt="3-5054" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5054</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 19.284 Rear Bracket For Rear Spring Without Bush&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                  
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 19.280 Rear Shackle Bracket .jpg" alt="3-5055" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5055</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 19.280 Rear Shackle Bracket&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413090006&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tgs 41.400 Front Plate   .jpg" alt="3-5056" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5056</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tgs 41.400 Front Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413350129&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tgs Torsion Bar Ø 36 Mm.jpg" alt="3-5057" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5057</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tgs Torsion Bar Ø 36 Mm&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81437150165&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 40.423 Rear Torsion Bar 55 mm  .jpg" alt="3-5059" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5059</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 40.423 Rear Torsion Bar 55 mm&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Spring Saddle Pin Nut .jpg" alt="3-5061" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5061</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Spring Saddle Pin Nut&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413550001&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tgs Front Link   .jpg" alt="3-5063" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5063</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tgs Front Link&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81437186824&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man Tga Steering Wheel Bracket.jpg" alt="3-5065" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5065</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man Tga Steering Wheel Bracket&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81467200113&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 40.423 Rear Bracket For Front Spring -R  .jpg" alt="3-5066" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5066</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 40.423 Rear Bracket For Front Spring -R&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413010272&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 40.423 Rear Bracket For Front Spring -L.jpg" alt="3-5067" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5067</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 40.423 Rear Bracket For Front Spring -L&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413010271&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 26.281 Rear Bracket For Rear Spring -U-bolt Type-  .jpg" alt="3-5068" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5068</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 26.281 Rear Bracket For Rear Spring -U-bolt Type-&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/man/Man 33.372-19.422 Rear Bracket For Front Spring With Pin-L   .jpg" alt="3-5069" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 3-5069</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Man 33.372-19.422 Rear Bracket For Front Spring With Pin-L&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>81413010257&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

                                
                        </div>
                        <style>
                            .pager a,.pager b{font-weight:bold;margin:0 3px }
                            .pager > div{text-align:right }
                        </style>
                    </div>
                </div>
            </div>
        </section>
        
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function () {
                let sort = getParameterByName("sort");
                if (sort !== null) {
                    if (sort == "50") { $(".m2").addClass("active"); }
                    else if (sort == "100") { $(".m3").addClass("active"); }
                    else if (sort == "200") { $(".m4").addClass("active"); }
                    else { $(".m1").addClass("active");}
                }
                else { $(".m1").addClass("active"); }
            });
    
    
              function getParameterByName(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
            
            $("#btnProductSearch").click(function (e) {
                let categories = $("#parent_categories > option:selected").html();
                let oem = document.getElementById("txtPOem").value;
                if (oem.length >= 3) {
                    let link = "/en/products?oem=" + oem + "&brand=" + categories;
                    window.location = link;
                }
                else { alert("minimum 3 karakter giriniz\nPlease enter at least 3 characters"); }
                  e.preventDefault();
            });
        </script>
                        
        <!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>MANU AUTOMOTIVE</h5>
                    <ul>
                        <li><a href="/en">Home</a></li>
                        <li><a href="/en/corporate">Corporate</a></li>
                        <li><a href="/en/product">Products</a></li>
                        <li><a href="/en/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>Corporate</h5>
                    <ul>
                        <li data-name="about-us"><a href="/en/about-us">About Us</a></li>
                        <li data-name="our-quality-policy"><a href="/en/vision-mission">Quality Policy</a></li>
                        <li data-name="certificates"><a href="/en/certificates">Certificates</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>Branch</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (531) 761 43 72 
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span></p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
    </div>
</body>
</html>