<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <title>Manu Automotive</title>
</head>
<body>
    <div id="mmfas">
        <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="tel:00905530234610"><i class="fa fa-phone"></i>+90 (553) 023 46 10</a></li>
                                <li><a href="tel:00905321610992"><i class="fa fa-phone"></i>+90 (532) 161 09 92</a></li>
                                <li><a href="mailto:manu@manucompany.com"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                        <li><a href="https://api.whatsapp.com/send?phone=00905321610992" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                          
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/en">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/en">Home </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/en/corporate/">Corporate</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/en/about-us">About Us</a>
                                            <a class="dropdown-item" href="/en/quality-policy">Quality & policy</a>
                                            <a class="dropdown-item" href="/en/certificates">Certificates</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/en/product">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/en/contact">Contact</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/images/CATALOGinteraktif.pdf" target="_blank">CATALOG</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-globe"></i></a>
                                        
                                       <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/en/product/scania"><i class="flag-icon flag-icon-us"></i> English</a>
                                        <a class="dropdown-item" href="/tr/urun/scania-tr"><i class="flag-icon flag-icon-tr"></i> Turkish</a>
                                        <a class="dropdown-item" href="/ar/el-muntec/scania-ar"><i class="flag-icon flag-icon-sa"></i> Arabic</a>
                                       </div> 
                                       
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
           
        </header>
    

        <div class="section banner-page">
            <div class="content-wrap pos-relative">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="title-page">Scania</div>
                        </div>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/en/">Home</a></li>
                            <li class="breadcrumb-item active"><a href="/en/product">Products</a></li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <section class="content pt-3 pb-3 product-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 pl-0">
                        <ul class="d" id="style-2">
                            
                                    <li class="plist" data-name="bmc" ><a href="/en/product/handle-gear" class="">HANDLE GEAR</a> </li>
                                
                                    <li class="plist" data-name="daf" ><a href="/en/product/exhaust" class="">EXHAUST</a> </li>
                                
                                    <li class="plist" data-name="man" ><a href="/en/product/mercedes" class="">MERCEDES</a> </li>
                                
                                    <li class="plist" data-name="mercedes" ><a href="/en/product/man" class="">MAN</a> </li>
                                
                                    <li class="plist" data-name="others" ><a href="/en/product/iveco" class="">IVECO</a> </li>
                                
                                    <li class="plist" data-name="renault" ><a href="/en/product/renault" class="">RENAULT</a> </li>
                                
                                    <li class="plist" data-name="scania" ><a href="/en/product/scania" class="active-product">SCANIA</a> </li>

                                    <li class="plist" data-name="towing" ><a href="/en/product/towing-tools" class="">TOWING TOOLS</a> </li>
                                
                                    <li class="plist" data-name="trailer" ><a href="/en/product/others" class="">OTHERS</a> </li>
                                
    
    
       <script src="/content/js/jquery-3.2.1.min.js"></script>
          <script>
            var cd = "";
            try { cd = location.href.split('/')[5]; }
              catch (e) { console.log(e); }
    
              var q = cd.indexOf('?');
              if (q !== -1) { cd=  cd.substring(0,q);}
              let ul = document.querySelector("ul.d");
              let li = document.querySelectorAll("li.plist");
              for (var i = 0; i < li.length; i++)
              {
                  let f = li[i].getAttribute("data-name");
                  if (f == $.trim(cd))
                  {
                      let a = li[i].getElementsByTagName("a");
                      $(a).addClass("active");
                  }
              }
        </script>
                        </ul>
                    </div>
                    <div class="col-md-9 pr-0 ">
                        <div class="content">
                            <div class="col-md-6 float-left">
                                <p>
                                    Totally
                                    <span id="ContentPlaceHolder1_lblCount">49</span>
                                    product was found
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <p class="col-md-12"> <span id="ContentPlaceHolder1_lblError"></span></p>
                            
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                    
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/scania/Fan Retainert (31 TH)-143 copy.jpg" alt="1-2008" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-2008</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>Fan Retainert (31 TH)-143&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>ORIGINAL CODE</td>
                <td>395245&nbsp; &nbsp;</td>
            </tr>
        </tbody>
    </table>
    
                                            </div>
                                      
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                     
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/scania/Fan Retainert (33 TH)-143 copy.jpg" alt="1-2009" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-2009</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>Fan Retainert (33 TH)-143&nbsp;&nbsp;&nbsp;</td>
            </tr>
           
        </tbody>
    </table>
    
                                            </div>
                                     
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                      
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/scania/GEAR WHEEL, TRANSMISSION INPUT SHAFT For Fan Retainert 31  copy.jpg" alt="1-2010" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-2010</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>GEAR WHEEL, TRANSMISSION INPUT SHAFT For Fan Retainert 31 &nbsp;&nbsp;&nbsp;</td>
            </tr>
           
        </tbody>
    </table>
    
                                            </div>
                                      
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                 
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/scania/GEAR WHEEL, TRANSMISSION INPUT SHAFT for Fan Retainert 33 copy.jpg" alt="1-2011" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-2011</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>GEAR WHEEL, TRANSMISSION INPUT SHAFT for Fan Retainert 33&nbsp;&nbsp;&nbsp;</td>
            </tr>
         
        </tbody>
    </table>
    
                                            </div>
                                      
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                     
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/scania/WATER PUMB DS8 copy.jpg" alt="1-2012" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-2012</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>WATER PUMB DS8&nbsp;&nbsp;&nbsp;</td>
            </tr>
        
        </tbody>
    </table>
    
                                            </div>
                                     
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                   
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/scania/FRONT PIN WITH BUSH.jpg" alt="1-2013" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-2013</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>FRONT PIN WITH BUSH&nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
    
                                            </div>
                                      
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                      
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/scania/Water Pump -143 copy.jpg" alt="1-2014" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-2014</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>Water Pump -143&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr>
                <td>ORIGINAL CODE</td>
                <td>1375839&nbsp; &nbsp;</td>
            </tr>
        </tbody>
    </table>
    
                                            </div>
                                      
                                    </div>
                                        </div>
                                
                                    <div class="col-md-6 float-left">
                                        <div class="item">
                                     
                                            <div class="product-img">
                                                <div>
                                                    <img src="/images/scania/SEAL WATER PUMB SCANIA copy.jpg" alt="1-2015" />
                                                </div>
                                            </div>
                                            <div class="product-info">
                                                <p>MANU CODE: 1-2015</p>
                                               <table>
        <tbody>
            <tr>
                <td>PRODUCT NAME</td>
                <td>SEAL WATER PUMB SCANIA &nbsp;&nbsp;&nbsp;</td>
            </tr>
        </tbody>
    </table>
    
                                            </div>
                                       
                                    </div>
                                        </div>
                                

                        
                        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Bracket For Front Spring With 2 Holes .jpg" alt="2-5001" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5001</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Bracket For Front Spring With 2 Holes&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Front Bracket For Rear Spring  .jpg" alt="2-5002" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5002</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Front Bracket For Rear Spring  &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Bracket For Rear Spring.jpg" alt=" 2-5003" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE:  2-5003</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Bracket For Rear Spring&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Front Bracket For Rear Spring 56 Mm.jpg" alt="2-5004" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5004</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Front Bracket For Rear Spring 56 Mm&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Front Bracket For Rear Spring Long Type.jpg" alt=" 2-5005" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5005</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Front Bracket For Rear Spring Long Type&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Differential Plate With 4 Holes.jpg" alt="2-5006" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5006</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Differential Plate With 4 Holes&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Seat High Type -R.jpg" alt="2-5007" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5007</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Seat High Type -R&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Seat High Type -L.jpg" alt="2-5008" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5008</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Seat High Type -L&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Front Torsion Bar Bracket With 2 Holes.jpg" alt="2-5009" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5009</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Front Torsion Bar Bracket With 2 Holes &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Front Upper Plate For Shock Absorber.jpg" alt="2-5010" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5010</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Front Upper Plate For Shock Absorber&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Leaf Spring Lower Plate -L  .jpg" alt="2-5012" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5012</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Leaf Spring Lower Plate -L  &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Shackle   .jpg" alt="2-5013" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5013</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Shackle&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Front Shackle.jpg" alt="2-5014" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5014 </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Front Shackle&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Upper Plate.jpg" alt="2-5015" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5015 </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Upper Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania York Type Bracket.jpg" alt="2-5016" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5016</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania York Type Bracket&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Saddle Grooved With Bushings .jpg" alt="2-5017" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5017</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Saddle Grooved With Bushings&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Saddle.jpg" alt="2-5018" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5018</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Saddle&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                   
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Saddle.jpg" alt="2-5019" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5019</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Saddle&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Saddle Long Type.jpg" alt="2-5020" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Saddle Long Type&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Saddle Grooved.jpg" alt="2-5021" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5021</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Saddle Grooved&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>1404385&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania 360 Front Bracket For Front Spring.jpg" alt="2-5022" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5022 </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania 360 Front Bracket For Front Spring&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Torsion Bar .jpg" alt="2-5023" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5023</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Torsion Bar&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania 94.310 Front Bracket For Rear Spring .jpg" alt="2-5024" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5024 </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania 94.310 Front Bracket For Rear Spring&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Saddle Big Type.jpg" alt="2-5025" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5025</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Saddle Big Type&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania H Shackle.jpg" alt="2-5026" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5026</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania H Shackle&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Shock Absorber Bracket.jpg" alt="2-5027" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5027</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Shock Absorber Bracket&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                   
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Front Shackle.jpg" alt="2-5028" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5028</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Front Shackle&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Bracket For Front Spring.jpg" alt="2-5029" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5029</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Bracket For Front Spring&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>1326547<br>1326548<br>1739454<br>1739455&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Front Bracket For Front Spring -L.jpg" alt="2-5030" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5030</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Front Bracket For Front Spring -L&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Front Bracket For Front Spring -R.jpg" alt="2-5031" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5031</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Front Bracket For Front Spring -R&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Torsion Bar Bracket.jpg" alt="2-5032   " />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5032</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Torsion Bar Bracket&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Seat -New Type-   .jpg" alt="2-5033" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5033</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Seat -New Type-&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>1426438&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Torsion Bar Bracket With Cover .jpg" alt="2-5034" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5034 </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Torsion Bar Bracket With Cover&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Saddle Ring.jpg" alt="2-5035" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5035</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Saddle Ring&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Bracket For Front Spring (2).jpg" alt="2-5036" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5036</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Bracket For Front Spring (2)&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                 
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Differential Plate.jpg" alt="2-5037" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5037 </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Differential Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Torsion Bar Bracket's Cover.jpg" alt="2-5038" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5038</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Torsion Bar Bracket's Cover&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                   
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Rear Torsion Bar Plate   .jpg" alt="2-5039" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5039 </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Rear Torsion Bar Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                               
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Seat With Corner .jpg" alt="2-5040" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5040</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Seat With Corner&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                   
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Spring Saddle Cap.jpg" alt="2-5041" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5041 </p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Spring Saddle Cap&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                     
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/scania/Scania Leaf Spring Upper Plate.jpg" alt="2-5042" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 2-5042</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Scania Leaf Spring Upper Plate&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                  
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        


                                
                        </div>
                        <style>
                            .pager a,.pager b{font-weight:bold;margin:0 3px }
                            .pager > div{text-align:right }
                        </style>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function () {
                let sort = getParameterByName("sort");
                if (sort !== null) {
                    if (sort == "50") { $(".m2").addClass("active"); }
                    else if (sort == "100") { $(".m3").addClass("active"); }
                    else if (sort == "200") { $(".m4").addClass("active"); }
                    else { $(".m1").addClass("active");}
                }
                else { $(".m1").addClass("active"); }
            });
    
    
              function getParameterByName(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
            
            $("#btnProductSearch").click(function (e) {
                let categories = $("#parent_categories > option:selected").html();
                let oem = document.getElementById("txtPOem").value;
                if (oem.length >= 3) {
                    let link = "/en/products?oem=" + oem + "&brand=" + categories;
                    window.location = link;
                }
                else { alert("minimum 3 karakter giriniz\nPlease enter at least 3 characters"); }
                  e.preventDefault();
            });
        </script>
                        
        <!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>MANU AUTOMOTIVE</h5>
                    <ul>
                        <li><a href="/en">Home</a></li>
                        <li><a href="/en/corporate">Corporate</a></li>
                        <li><a href="/en/product">Products</a></li>
                        <li><a href="/en/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>Corporate</h5>
                    <ul>
                        <li data-name="about-us"><a href="/en/about-us">About Us</a></li>
                        <li data-name="our-quality-policy"><a href="/en/quality-policy">Quality Policy</a></li>
                        <li data-name="certificates"><a href="/en/certificates">Certificates</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>Branch</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (553) 023 46 10 
                        </li>
                        <li>
                            <i class="fab fa-whatsapp"></i>+90 (532) 161 09 92
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span></p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/owlcarousel/owl.carousel.min.js"></script>
        <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="/js/vendor/isotope.pkgd.min.js"></script>
        <script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="/js/vendor/validator.min.js"></script>
        <script src="/js/vendor/form-scripts.js"></script>
        <script src="/js/script.js"></script> 
</body>
</html>