<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/all.min.css" rel="stylesheet" />
    <link href="/css/style.css" rel="stylesheet" />
    <link href="/css/animate.css" rel="stylesheet" />
    <link href="/css/responsive.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&amp;display=latin" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="/owlcarousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/owlcarousel/owl.carousel.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css">
    <title>Manu Automotive</title>
</head>
<body>
    <div id="mmfas">
        <header id="header">
            <div class="hd-top content">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 top-first">
                            <ul class="top-contact">
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (553) 023 46 10</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+90 (532) 161 09 92</a></li>
                                <li><a href="#"><i class="fa fa-envelope"></i>manu@manucompany.com</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6"> 
                            <ul class="top-social mr-5">
                                
                                        <li><a href="https://www.facebook.com/manuspareparts/   " target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                    
                                        <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                    
                                        <li><a href="https://api.whatsapp.com/send?phone=00905321610992" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://twitter.com/SpareManu" target="_blank"><i class="fab fa-twitter"></i></a></li>

                                <li><a href="https://t.me/manuspareparts" target="_blank"><i class="fab fa-telegram"></i></a></li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="hd-bottom content">
                <div class="container">
                    <div class="row">
                        <nav class="navbar navbar-expand-lg content">
                            <a class="navbar-brand logo" href="/en">
                                <img src='/images/logo.png' alt="" width="400">    
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-right: 20px;">
                                MENÜ
                               <i class="fas fa-bars" style="color: #ff0000"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a class="nav-link mn1 " href="/en">Home </a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/en/corporate/">Corporate</a>
                                        <div class="dropdown-menu">
                                            <a class="dropdown-item" href="/en/about-us">About Us</a>
                                            <a class="dropdown-item" href="/en/quality-policy">Quality & policy</a>
                                            <a class="dropdown-item" href="/en/certificates">Certificates</a>
                                        </div>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn3" href="/en/product">Products</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link mn6" href="/en/contact">Contact</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-globe"></i></a>
                                        
                                       <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/en/product/towing-tools"><i class="flag-icon flag-icon-us"></i> English</a>
                                        <a class="dropdown-item" href="/tr/urun/towing-tools-tr"><i class="flag-icon flag-icon-tr"></i> Turkish</a>
                                        <a class="dropdown-item" href="/ar/el-muntec/towing-tools-ar"><i class="flag-icon flag-icon-sa"></i> Arabic</a>
                                       </div> 
                                       
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
           
        </header>
    

        <div class="section banner-page">
            <div class="content-wrap pos-relative">
                <div class="container">
                    <div class="col-12 col-md-12">
                        <div class="d-flex bd-highlight mb-2">
                            <div class="title-page">Towing Tools</div>
                        </div>
                        <nav aria-label="breadcrumb">
                          <ol class="breadcrumb ">
                            <li class="breadcrumb-item"><a href="/en/">Home</a></li>
                            <li class="breadcrumb-item active"><a href="/en/product">Products</a></li>
                          </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <section class="content pt-3 pb-3 product-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 pl-0">
                        <ul class="d" id="style-2">
                            
                                    <li class="plist" data-name="bmc" ><a href="/en/product/handle-gear" class="">HANDLE GEAR</a> </li>
                                
                                    <li class="plist" data-name="daf" ><a href="/en/product/exhaust" class="">EXHAUST</a> </li>
                                
                                    <li class="plist" data-name="man" ><a href="/en/product/mercedes" class="">MERCEDES</a> </li>

                                
                                    <li class="plist" data-name="mercedes" ><a href="/en/product/man" class="">MAN</a> </li>
                                
                                    <li class="plist" data-name="others" ><a href="/en/product/iveco" class="">IVECO</a> </li>
                                
                                    <li class="plist" data-name="renault" ><a href="/en/product/renault" class="">RENAULT</a> </li>
                                
                                    <li class="plist" data-name="scania" ><a href="/en/product/scania" class="">SCANIA</a> </li>

                                    <li class="plist" data-name="towing" ><a href="/en/product/towing-tools" class="active-product">TOWING TOOLS</a> </li>
                                
                                    <li class="plist" data-name="trailer" ><a href="/en/product/others" class="">OTHERS</a> </li>
                                
    
    
       <script src="/content/js/jquery-3.2.1.min.js"></script>
          <script>
            var cd = "";
            try { cd = location.href.split('/')[5]; }
              catch (e) { console.log(e); }
    
              var q = cd.indexOf('?');
              if (q !== -1) { cd=  cd.substring(0,q);}
              let ul = document.querySelector("ul.d");
              let li = document.querySelectorAll("li.plist");
              for (var i = 0; i < li.length; i++)
              {
                  let f = li[i].getAttribute("data-name");
                  if (f == $.trim(cd))
                  {
                      let a = li[i].getElementsByTagName("a");
                      $(a).addClass("active");
                  }
              }
        </script>
                        </ul>
                    </div>
                    <div class="col-md-9 pr-0 ">
                        <div class="content">
                            <div class="col-md-6 float-left">
                                <p>
                                    Totally
                                    <span id="ContentPlaceHolder1_lblCount">9</span>
                                    product was found
                                </p>
                            </div>
                        </div>
                        <div class="content">
                            <p class="col-md-12"> <span id="ContentPlaceHolder1_lblError"></span></p>
                            
                                    <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/towing-tools/ROCKINGER 4 screw (1) copy.jpg" alt="13-7001" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 13-7001</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>ROCKINGER 4 screw&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>ROE67263&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/towing-tools/ROCKINGER 4 screw  copy.jpg" alt="13-702" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 13-702</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>ROCKINGER 4 screw&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>ROE67263&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/towing-tools/REPAIR KIT FOR FIFTH WHEEL 3.5 in.jpg" alt="13-703" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 13-703</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>REPAIR KIT FOR FIFTH WHEEL 3.5 in &nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>SK 1259  <br>    SK2105-25&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/towing-tools/REPAIR KIT FOR FIFTH WHEEL 2 in.jpg" alt="13-704" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 13-704</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>REPAIR KIT FOR FIFTH WHEEL 2 in&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>SK 1259   <br>   SK2105-25&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/towing-tools/FIFTH WHEEL 3.5 copy.jpg" alt="13-705" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 13-705</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>FIFTH WHEEL 3.5&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td>ORIGINAL CODE</td>
                                            <td>JSK 38 C1&nbsp;&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/towing-tools/scania rubber drawer.jpg" alt="13-706" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 13-706</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>scania rubber drawer&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/towing-tools/Pin Converter 2.5 in to 4.5 in.jpg" alt="13-707" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 13-707</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>Pin Converter 2.5 in to 4.5 in&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/towing-tools/ACTROS DRAWER 38mm.jpg" alt="13-708" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 13-708</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>ACTROS DRAWER 38mm&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                    
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        <div class="col-md-6 float-left">
            <div class="item">
                    <div class="product-img">
                        <div>
                            <img src="/images/towing-tools/FIFTH WHEEL WEARING RING (3 HOLES) copy.jpg" alt="13-709" />
                        </div>
                    </div>
                        <div class="product-info">
                            <p>MANU CODE: 13-709</p>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>PRODUCT NAME</td>
                                            <td>FIFTH WHEEL WEARING RING (3 HOLES)&nbsp;&nbsp;&nbsp;</td>
                                        </tr>
                                      
                                    </tbody>
                                </table>
                        </div>
            </div>
        </div>

        
                                
                        </div>
                        <style>
                            .pager a,.pager b{font-weight:bold;margin:0 3px }
                            .pager > div{text-align:right }
                        </style>
                    </div>
                </div>
            </div>
        </section>
        <script src="/js/jquery-3.2.1.min.js"></script>
        <script>
            $(document).ready(function () {
                let sort = getParameterByName("sort");
                if (sort !== null) {
                    if (sort == "50") { $(".m2").addClass("active"); }
                    else if (sort == "100") { $(".m3").addClass("active"); }
                    else if (sort == "200") { $(".m4").addClass("active"); }
                    else { $(".m1").addClass("active");}
                }
                else { $(".m1").addClass("active"); }
            });
    
    
              function getParameterByName(name) {
            var url = window.location.href;
            name = name.replace(/[\[\]]/g, "\\$&");
            var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)");
            results = regex.exec(url);
            if (!results) return null;
            if (!results[2]) return '';
            return decodeURIComponent(results[2].replace(/\+/g, " "));
            }
            
            $("#btnProductSearch").click(function (e) {
                let categories = $("#parent_categories > option:selected").html();
                let oem = document.getElementById("txtPOem").value;
                if (oem.length >= 3) {
                    let link = "/en/products?oem=" + oem + "&brand=" + categories;
                    window.location = link;
                }
                else { alert("minimum 3 karakter giriniz\nPlease enter at least 3 characters"); }
                  e.preventDefault();
            });
        </script>
                        
        <!-- FOOTER  -->
<footer class="content">
    <div class="container bottom-pd">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-4 float-left">
                    <h5>MANU AUTOMOTIVE</h5>
                    <ul>
                        <li><a href="/en">Home</a></li>
                        <li><a href="/en/corporate">Corporate</a></li>
                        <li><a href="/en/product">Products</a></li>
                        <li><a href="/en/contact">Contact</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>Corporate</h5>
                    <ul>
                        <li data-name="about-us"><a href="/en/about-us">About Us</a></li>
                        <li data-name="our-quality-policy"><a href="/en/quality-policy">Quality Policy</a></li>
                        <li data-name="certificates"><a href="/en/certificates">Certificates</a></li>
                    </ul>
                </div>
                <div class="col-md-4 float-left">
                    <h5>Branch</h5>
                    <ul style="padding: 0">
                        <li>
                            <i class="fa fa-phone"></i>+90 (553) 023 46 10 
                        </li>
                        <li>
                            <i class="fab fa-whatsapp"></i>+90 (532) 161 09 92
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>manu@manucompany.com
                        </li>
                        <li>
                            <i class="fa fa-home"></i>Fevziçakmak mah. sıla cad. elit san. sit. No:46/M Karatay-Konya
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="col-md-12  float-left">
            <div style="width: 320px; margin: 0 auto">
                <a href="/" class="footLogo"></a>
            </div>
        </div>
            
<script src="/js/jquery-3.2.1.min.js"></script>
<script>
var cd = "";
try { cd = location.href.split('/')[5]; }
  catch (e) { console.log(e); }

  var q = cd.indexOf('?');
  if (q !== -1) { cd=  cd.substring(0,q);}
  let ul = document.querySelector("ul.d");
  let li = document.querySelectorAll("li.plist");
  for (var i = 0; i < li.length; i++)
  {
      let f = li[i].getAttribute("data-name");
      if (f == $.trim(cd))
      {
          let a = li[i].getElementsByTagName("a");
          $(a).addClass("active");
      }
  }
</script>
    </div>
    <div class="copy">
        <div class="container">
            <div class="col-md-6 float-left">
            <p class="text-center" style="line-height: 37px">Copyright 2021 © Coded by: <span class="text-secondary">Mahdi Ayyad</span></p>
        </div>
            <div class="col-md-6 float-left">
                <ul class="top-social">
                    
                    
                            <li><a href="https://web.facebook.com/manuspareparts/?_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        
                            <li><a href="https://www.instagram.com/manuspareparts/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        
                </ul>
            </div>
        </div>
    </div>
</footer>
<!-- FOOTER END -->
    </div>

    <script src="/js/jquery-3.2.1.min.js"></script>
        <script src="/js/bootstrap.js"></script>
        <script src="/owlcarousel/owl.carousel.min.js"></script>
        <script src="/js/vendor/jquery.magnific-popup.min.js"></script>
        <script src="/js/vendor/isotope.pkgd.min.js"></script>
        <script src="/js/vendor/imagesloaded.pkgd.min.js"></script>
        <script src="/js/vendor/validator.min.js"></script>
        <script src="/js/vendor/form-scripts.js"></script>
        <script src="/js/script.js"></script> 
</body>
</html>